[2020-02-03 21:17] #219 closed

[2020-02-03 21:24] dbieber commented on #217
If you have any issues with or questions about using Python Fire, feel free to post them here. Otherwise, best of luck with your project -- I think the idea behind your project is really neat.

[2020-02-03 21:24] #217 closed

[2020-02-04 17:51] juacobarcelo commented on #186
In fire/formatting.py termcolor is used to print colored characters to console.

In Windows 10 console color codes are displayed instead of colored text.

It seems that is needed to import and initialize along with termcolor, colorama.

[2020-02-06 08:07] priyeshgpatel commented on #205
i like the version v0.1.3 type help, where it lists out all the options rather than man-style help screen.  wonder if you can add a feature to choose between the 2 styles.

[2020-02-10 03:30] #207 closed

[2020-02-14 11:17] lihuifengfeng commented on #165
你的解决办法对我很有帮助，问题解决了。Thank you!

[2020-02-14 12:33] grofte commented on #98
How about adding type hints to the functions/classes passed to fire?

So I could have

[code]

and then `python test.py --gpu=false` would crash because `false` is interpreted as a string rather than a boolean.

[2020-02-17 19:39] jaredtrog commented on #188
Any progress on this enhancement? I'd be happy to do the work if @dbieber or other members have some guidance on how they'd like to see this feature implemented.

It looks like @cbrochtrup may not be too far off on the implementation since `More()` currently calls `out.write` if the session is not interactive. Perhaps a function in `console_io` called `StdOut` that more or less mirrors `More`? It

[2020-02-18 05:44] aaronsteers opened #220 "Using `--help` with `file.Fire()` usage incorrectly prints imports and variables"
When running `--help` against a program like the following, I expect a single `myfunc` command but instead I get `myfun`, `fire`, `logging`, and `logger`.

[code]

For the simple example above, the obvious resolution is to use a different method of invoking `Fire()` but for my actual use case, there are over 40 functions in the file I want to expose. For internal functions, I can hide these simply

[2020-02-18 13:52] MaxG87 opened #221 "Support flag-only arguments"
I would like to have arguments that do not accept any value. Thus,

    ./my-script.py --flag

should work, but

    ./my-script.py --flag SomeValue

should not. In `argparse` this can be achieved by

    parser.add_argument("--flag", action="store_true")

but I do not know how to achieve that in python-fire.

[2020-02-18 14:09] MaxG87 opened #222 "Do not execute anything if command line is invalid"
In certain circumstances Fire will execute python code albeit the command line is not valid. Consider the following MWE:

[code]

If I execute it with

    ./mwe.py yaf yet-another-argument

I get

[code]

Note that the function is executed anyways.

In my case this behaviour let a bug manifest in a CI pipeline. I would have preferred to see the step break directly.

[2020-02-19 02:41] bfelbo opened #225 "Get a list of all valid commands when writing --help"
Thanks for creating this amazing library. I'm somewhat confused as to how the `--help` command is implemented. When running `python example.py --help` Fire only prints the flags, not the actual commands that can be run (see example below):

[code]

How do I make `--help` show all the possible commands and why is that not the default? :)

[2020-02-20 12:21] MaxG87 commented on #222
I found another MWE.

[code]

Execution gives:

[code]

Again, the function is executed albeit the invocation is quite obviously invalid.

[2020-02-21 16:50] dbieber commented on #222
The reason this doesn't work today is that Fire supports method chaining.
Fire has no way of knowing whether --arg4 will be a valid argument to the result of my_fun (which could be a function) until after it executes my_fun.

This is the same issue raised in #168.

As noted there, there may be a potential fix.

    The fix would be to require explicit chaining (using a separator, which is "-" by d

[2020-02-21 16:55] dbieber commented on #225
Hi @bfelbo,

Are you suggesting that the help show:

[code]

or is there a command that's actually _missing_ from the help, that you'd like it to show?

It should be showing all the possible commands, but not listed out as all possible complete commands explicitly simply due to formatting considerations. In particular, all commands share a prefix, and sometimes that prefix is quite long, so we cho

[2020-02-21 17:54] dbieber commented on #98
#220 requests the ability to exclude certain objects from Fire's help, e.g. imported modules, and local variables. This could be accomplished through fire.Fire(excludes=[fire, logging]) or fire.Fire(commands_only=True).  (Same as #47, or the 3rd item on the list in the original post.)

[2020-02-21 17:58] bfelbo commented on #225
Thanks for the response. I'll make it more clear :) See the below example from the docs.
[code]
Right now running `python example.py --help` returns the following:
[code]
I think it'd be great if running help would actually tell you what CLI commands are available, i.e. `add` and `multiply` in this case. Otherwise, how can you figure out what you can do with the CLI? Maybe I'm missing something ob

[2020-02-21 18:00] bfelbo commented on #225
This doesn't seem to be the case? (see my previous comment and example)

[2020-02-21 18:13] dbieber commented on #221
**Current status**

[code]
should work already,
however
[code]
will also be accepted by Fire.

-------

**Possible workaround**

You can raise a FireError in your function if you receive an invalid input with a message for the user to indicate an input error.

Using this strategy you can write decorators for yourself to satisfy your needs.

E.g.
[code]
[code]

--------

**Possible Future Solution*

[2020-02-21 18:56] #149 closed

[2020-02-24 08:03] MaxG87 opened #226 "Provide strict mode"
You already mentioned to plan to add a strict mode to python-fire in https://github.com/google/python-fire/issues/221 and https://github.com/google/python-fire/issues/222. I would highly appreciate this, so I am opening a new issue for this.

The problem with CLI facing function is that MyPy cannot help here. The type of the input arguments depends on how python-fire (or other CLI parsers) parse t

[2020-02-24 08:06] MaxG87 commented on #222
Issue #168 explains this quite nicely. However, I think some improvement on this would be desirable. After all, I am using a CLI framework not only because it is convenient to use, but also because I hope to gain some early error detection.

[2020-02-24 08:06] #222 closed

[2020-02-24 08:08] #221 closed

[2020-02-24 17:17] buzzlaker commented on #225
@bfelbo As far as I know, it doesn't generate the options for you. You're saying it would be nice if help also showed something like this?
[code]

I don't think that would be too hard to add-in.

[2020-02-24 17:20] bfelbo commented on #225
Exactly. That would be amazing!

For the class-based interface, I would probably ignore the `self` argument. It would then become something like the following:

[code]

[2020-02-24 17:22] bfelbo commented on #225
If the arguments have a default, it'd be great to include them too, e.g.:

[code]

I'm not really sure what the `SYNOPSIS` part is useful for, even in the case of `NAME != SYNOPSIS`. If you're worried the output gets too long, it would perhaps make sense to remove it?

[2020-02-24 17:24] buzzlaker commented on #225
@bfelbo so I was just playing around. If you return self from your functions you can get a little bit closer to what you're looking for:

[code]

Now when I run this I get a help screen with COMMANDS:
[code]
[code]

[2020-02-24 17:27] buzzlaker commented on #225
@bfelbo Ignoring that my example isn't really functional, it does show that COMMANDS are parsed at some point. and we could make use of that to extend the general response from _--help_

This would be a nice upgrade.

[2020-02-24 17:44] dbieber commented on #225
Agreed this is an issue. Let me explain why the current behavior is as it is, and how we can probably fix it.

## Current State

### "--help" vs "-- --help"
--help, --interactive, --verbose, etc are special Fire arguments. Normally they are separated from the standard arguments to a Fire CLI by a separating `--`. This is to avoid confusion between arguments intended for the CLI developers function

[2020-02-24 17:50] dbieber commented on #225
Actually, perhaps it's even better to just show the methods of a class in that class's help screen, even if the class hasn't been instantiated yet. We'll just need to be careful in the presentation to make clear which flags are required (because the methods can't be called until after the class is initialized).

[2020-02-24 19:17] buzzlaker commented on #225
I think this would work perfectly.

[2020-02-24 19:32] dbieber commented on #225
The help text is generated at:
https://github.com/google/python-fire/blob/1ac5105a0437518785033f47dd78746678e5133a/fire/helptext.py#L47

The list of possible actions (including commands) is generated by
https://github.com/google/python-fire/blob/1ac5105a0437518785033f47dd78746678e5133a/fire/helptext.py#L61

The commands are aggregated at:
https://github.com/google/python-fire/blob/1ac5105a04375187

[2020-02-24 19:36] dbieber commented on #225
Here's a minimal example that would need to be fixed to resolve this:

[code]

VisibleMembers is defined here:
https://github.com/google/python-fire/blob/1ac5105a0437518785033f47dd78746678e5133a/fire/completion.py#L347

[2020-02-24 19:40] dbieber commented on #225
The code ignoring methods in classes is here:
https://github.com/google/python-fire/blob/1ac5105a0437518785033f47dd78746678e5133a/fire/completion.py#L331-L334

Simply changing that from False to True will result in methods being included in the help. Additional changes will likely also be needed to make sure flags are marked as required when appropriate so we don't falsely give the impression that

[2020-02-26 16:09] dbieber commented on #197
Thanks for opening the PR @jaredtrog! I'll take a look.

[2020-02-27 20:14] gromovadarya90 opened #228 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 17:28] #197 closed

[2020-02-28 17:29] dbieber commented on #197
In the next release, objects defining a custom \_\_str\_\_ method can be included in dicts and the dicts will still be printed rather than shown in a full help screen.

[2020-02-28 18:06] jaredtrog commented on #186
@juacobarcelo Are you working on this one? I see there is a PR out but it may be worth additional investigation since not only the Powershell console will print colors but with the release of [Windows Terminal (Preview)](https://github.com/microsoft/terminal) there is fairly robust support for colors and other fancy formatting bits.

I use Windows (10, Server 2008 - 2019) with Fire somewhat freque

[2020-02-28 18:20] dbieber commented on #186
@joejoevictor has looked into it some -- not sure if we have a solution on the horizon, maybe he can chime in with the latest. Neither of us has easy access to windows.

And thanks for raising the PR to my attention.

[2020-02-28 18:24] dbieber commented on #102
I think this was fixed at least by 0.2.1, though maybe it was earlier.

[2020-02-28 18:24] #102 closed

[2020-02-28 18:27] dbieber commented on #190
I think we'll have the fix in soon from PR #203 and then this will go out with the next release, which  should be by end of March (no date picked out yet though).

[2020-02-28 21:22] jaredtrog commented on #186
I had a moment to poke at this...

@juacobarcelo was spot on with the colorama. Adding these two lines to formatting.py:22-23 immediately gave the desired results.

[code]

![image](https://user-images.githubusercontent.com/4381365/75587843-02850b80-5a3d-11ea-9a66-64a9287f459b.png)

A more robust solution might be to import colorama only if the OS is windows and colorama is installed, otherwise di

[2020-02-28 21:24] dbieber commented on #186
Awesome -- that's great to know.

[2020-02-28 22:20] dbieber commented on #186
It looks like colorama doesn't handle underline.
@joejoevictor is planning to look into what prompt_toolkit does:
https://python-prompt-toolkit.readthedocs.io/en/master/pages/printing_text.html#ansi
It looks like it may have a solution that handles more of the formatting than colorama.

[2020-02-28 22:29] dbieber commented on #190
Fixed in #203 by deb33cc34f94cad86a875a9993864ac0acf93828

[2020-02-28 22:29] #190 closed

[2020-02-28 22:52] dbieber commented on #189
Fixed by #201 with b1f3f95d736e7e36126f2e6c457c52f995f587dc
Thanks Vincent!

[2020-02-28 22:52] #189 closed

[2020-02-28 23:22] dbieber commented on #159
Resolved by #203 (though looks likely to remain broken in Python 3.4)

[2020-02-28 23:22] #159 closed

[2020-02-28 23:23] dbieber commented on #145
Resolved by #203 (though still broken in Python 3.4)

[2020-02-28 23:23] #145 closed

[2020-02-29 17:04] dbieber commented on #213
Yes, if the object returned is simple enough, then Fire will serialize it.
Similarly, if an object defines a custom \_\_str\_\_ method then Fire will serialize it.
If it's more complex and lacks a custom \_\_str\_\_ method, Fire will show the help screen.

I think this usually gives good behavior, though admittedly in the example you give you get a better experience using the hacky workaround.

We

[2020-02-29 17:07] dbieber commented on #214
This is tricky to add to Fire because it will often lead to ambiguous situations.

For example, let's say we modify your example a little:

[code]

Suppose main is the "default command" but the user runs `$ example.py foo`. Does Fire call `foo()`, or do we call `main('foo')`? It's ambiguous.

[2020-03-01 22:26] vikramsubramanian commented on #43
May I take a shot at this?

[2020-03-02 09:03] outscale-frl opened #229 "All the list is convert into string if '-' is present"
Hello,

![Capture d’écran 2020-03-02 à 09 56 52](https://user-images.githubusercontent.com/46570624/75660850-9557bd00-5c6c-11ea-8466-6d0cff02ecc8.png)

I reuse the introduction example code to illustrate.
When you give a list as arg, and into this list there is a string including this specific charactere '-', Fire turns all the list into one and unique string 😢. As you can see with the capture.

[2020-03-02 15:14] dbieber commented on #229
Thanks for reporting the issue.

Here's the reason for it:

Your shell is stripping the quotes from the input to fire.
So all Fire sees is `[hel-lo,hello]` in the first example and `[hello,hello]` in the second example (no quotes).
Fire is smart enough to put the quotes back in around bare words, so it gives a list in the second example, but in the first example this yields `["hel"-"lo","hello"]`

[2020-03-02 15:26] dbieber commented on #209
1. If you want to insert your own error handling into Fire, just have your code raise a FireError.

[code]

[code]

2. Looks like we don't have a way to suppress the output right now. I'll consider this a feature request.

Here's an example of accessing the error / trace though:

[code]
FireTrace source:
https://github.com/google/python-fire/blob/b77f5aefbf5986391ab6cb9f51376c6d93d757cf/fire/trace

[2020-03-02 15:28] securisec commented on #209
Thanks @dbieber . Yes, I had figured out this part, and am handing the error in `fire.core.FireExit` so stop it closing out. Now trying to figure out how to access the traceback and send back my own exception handler.

[2020-03-02 16:17] outscale-frl commented on #229
Thanks for your answer @dbieber !

[2020-03-02 18:09] outscale-frl commented on #229
I tried a modification but there are so many usecases...

if --name=['hello-eei38223','342efw3']
root = ast.parse(value, mode='eval')
return a SyntaxError because the second element starts with a number.

if --name=['hello-eei38223','hello']
root = ast.parse(value, mode='eval')
return a root.body.elts with BinOp and Name object

if --name=['hello-38223']
root = ast.parse(value, mode='eval')
return

[2020-03-02 18:29] dbieber commented on #229
I think we'll want both. We definitely want to improve this.
And while strict mode will remove surprises, we also should separately come up with an intuitive and unambiguous way to pass in lists (balanced with providing backwards compatibility where reasonable to do so.)

[2020-03-02 19:09] jaredtrog commented on #186
@dbieber @joejoevictor I had another moment to poke at this one...

I checked out the colorama project to see why underline wasn't supported - it seems that it may be limited by fundamental support on legacy Windows platforms more than python libraries. [This](https://github.com/tartley/colorama/issues/38) issue has been out there since 2015 and has some interesting comments in it related to under

[2020-03-02 20:07] dbieber commented on #186
Thanks for looking into it.
If I understand correctly, prompt_toolkit will just not underline the text, same as colorama.
If that's the case, your suggestion of the following (psuedocode) sounds good:

[code]

Is `os.name=='nt'` the right way to check for windows? Or is there something more robust?

[2020-03-03 05:16] robertvazan opened #230 "Display dict of namedtuples"
Fire nicely prints a dict of dicts using one line per inner dict. When I try to do the same with dict of namedtuples (which otherwise behave like dicts after #161), I just get a help page listing all the dict keys. When I specify a dict key, then that namedtuple is printed. I would prefer all namedtuples in the dict to be printed when no key is specified.

[2020-03-03 05:23] robertvazan commented on #230
BTW, it would be probably a good idea to display namedtuple itself like a dict, but then this somewhat depends on what namedtuples are commonly used for. Mine would be more readable with field labels.

[2020-03-03 14:31] dbieber commented on #230
Good idea.

The relevant code to change is:

https://github.com/google/python-fire/blob/c830177ce00b1c6f123316e3cae81cbaec8377ca/fire/core.py#L258-L261

and https://github.com/google/python-fire/blob/c830177ce00b1c6f123316e3cae81cbaec8377ca/fire/value_types.py#L44

[2020-03-03 16:08] albertotb opened #231 "Dynamically dispatch function but do not print result"
Can Fire be used to dynamically dispatch a function as in the dict example but without printing the result? I would like to do something with the return value, for instance:

[code]

If I try to run the previous code, for instance:
    python ./train.py inception 100 100 10

I get the following error:

[code]

[2020-03-04 16:31] dbieber commented on #231
This is not an option today but is a good idea. Thanks for opening the issue.

[2020-03-04 16:32] dbieber commented on #98
https://github.com/google/python-fire/issues/231 suggests being able to disable the printed output for use cases where the developer wants to do something with the returned component from Fire.

[2020-03-04 17:37] jaredtrog commented on #186
@dbieber  `os.name` certainly will work though heavy handed. As @fedorbirjukov pointed out, considering the console in use versus just the platform is important.

I took a look at the various methods used to detect the terminal and most were either incomplete or added more 3rd party libraries.

I came across an implementation of this very thing in the Chromium code base in a file called [setup_col

[2020-03-04 21:35] jaredtrog commented on #186
@dbieber Ok, completed some testing.

If fire only uses colorama without the extra work `setup_color.py` includes then output does not include any control code. Unsupported ANSI code is not displayed. For example, what should be underlined text in OPTIONAL output is not underlined. The output is human readable.

If fire imports and initializes colorama with the extra work `setup_color.py` provides

[2020-03-04 21:46] dbieber commented on #186
I haven't looked at setup_color.py in detail yet. Does it have dependencies?
If not and it's just a single Python file handling interesting edge cases for different systems, then it seems like it would be worthwhile to include it or a pared down version of it.

[2020-03-04 21:52] jaredtrog commented on #186
No includes outside of core aside from colorama.

[code]

I'll put together a pull request with the proposed changes for further review and discussion.

[2020-03-04 22:46] dbieber commented on #186
Awesome, sounds good. And maybe this is already what you planned, but let's not reuse the setup_color.py module from chromium directly, but rather reimplement as needed for fire.

[2020-03-06 00:41] dbieber commented on #186
Looks great. Comments inline (and repeated here):
- I don't fully understand the criteria for setting `wrap` or if it should ever be set at all. (I assume that turns on some form of line wrapping)
- I think we should drop the print statement -- wdyt?

[2020-03-06 19:08] nlarusstone commented on #188
This is a feature I would really appreciate! I have been enjoying the simplicity of Fire so far, but when you have even a couple steps of nesting it quickly gets frustrating to keep bringing up a pager and having to remember all the arguments. I would love to have my history printed to std out so that I can refer back to it.

Let me know if I can help at all!

[2020-03-06 19:28] dbieber commented on #188
Here's how I think about this. We want all of the following:
1. Option to disable output altogether (#231)
2. Option to print help to stdout instead of pager (#188)
3. Ability of user to provide custom output serialization (#74)
4. Sensible defaults (always!)
5. Clean API that will make sense even as we add more configurations (#98)

So, for example, one API we could consider is:
`fire.Fire(displa

[2020-03-06 19:46] nlarusstone commented on #181
Is there any way to display the arguments from the docstring, even if they're not an explicitly named parameter in the function signature? In the example before, we accept bar as part of kwargs (and document that), but it won't show up in Fire.

[code]

[2020-03-06 20:15] cbrochtrup commented on #188
Just spitballin' here (this may be dumb) but could `Display` be a method of the `Fire` class that can be overridden by the user? The API would be `fire.Fire(display_func=custom_function)` and this would also require moving `_DisplayError` and `_PrintError` into the `Fire` class or giving them an extra `display_fucn` argument. This would give the user a lot of flexibility with the output but probab

[2020-03-06 20:31] dbieber commented on #188
Definitely not dumb :)

What would be the signature of display_func? Would it accept an arbitrary object that it is responsible for both serializing and displaying? Or would it just accept a string and it is only responsible for displaying it?

[2020-03-06 21:19] cbrochtrup commented on #188
I was thinking it'd be identical to `Display` in that it must accept a string and a stream, `display_func(string, out)`. The custom function would be responsible for serializing and displaying (as long as serializing means formatting the string, I may not know everything serializing entails). I think an  example in `README.md` will give most everyone what they want and the interested developer can

[2020-03-06 21:56] dbieber commented on #186
Fixed in #232
Will go out with the next release

[2020-03-06 21:56] #186 closed

[2020-03-06 22:14] #214 closed

[2020-03-06 22:16] dbieber commented on #205
Fixed by 074f4b25906b4c7bc309a64feeba8873ec5e849c

[2020-03-06 22:16] #205 closed

[2020-03-06 22:18] dbieber commented on #163
Going to close this since @vbarbaresi and I weren't able to reproduce. If you run into this issue again though, definitely feel free to reopen or open a new issue!

[2020-03-06 22:18] #163 closed

[2020-03-06 23:54] dbieber commented on #29
We're introducing the simplest possible version of this in Fire 0.3.0. This uses @jtratner's code from #110. Starting in 0.3.0, you'll be able to run `python -m fire <module> <args>` in order to use Fire with any module without modifying the code.

This includes builtin modules like calendar, installed modules (like fire itself!), and modules referenced relative to your current working directory.

[2020-03-06 23:54] #29 closed

[2020-03-06 23:54] dbieber commented on #70
Introduced in Fire 0.3.0 by #110.

[2020-03-06 23:54] #70 closed

[2020-03-07 01:13] dbieber commented on #188
Serializing refers to going from the final component to the output string representing it, as in _PrintResult.

One thing to consider is that Display is only one of a few places that Fire displays output today.
The others are the various calls to `print(` in core.py outside of Display, such as in _DisplayError and _PrintResult. At the moment I count 9 calls to print, 3 to stderr and 6 to stdout.

[2020-03-08 00:19] nlarusstone commented on #188
What if instead of passing in a function like `display_func`, we passed in a class instead. We could have a default display class that looks something like:
[code]
We would provide a couple of classes that users can import as follows:
[code]
and then use as follows:
[code]

This has the advantage of centralizing all of the display code, as well as making it clear what interfaces someone needs to i

[2020-03-09 03:33] jaredtrog commented on #188
A class like `Display` as outlined above could implement a serializer that handles all sorts of different values but then a new `StdOut` class would either need to do an import from Display's serialize method or copy/paste or write new code to serialize. That's not great if the only goal is to change the output destination.

There appear to be at least four steps occurring to get something to prin

[2020-03-09 14:21] nlarusstone commented on #188
@jaredtrog I think you make some great points, but let me put my OOP hat on for a second to see if we can meet in the middle.

I was implying that `StdOut` could inherit from `Display`, so it wouldn't need to implement the serializer -- just the output. Something like:
[code]

I like this separation and think that whatever the solution it is, it should conform to this API.

One of the reasons that

[2020-03-09 15:05] jaredtrog commented on #188
I think the middle is where the best solutions are found 👍.

Let me restate what I think you're saying to make sure I'm responding to the ideas as stated.

1) Develop a class called `Display` that has methods to perform serialization, formatting, and output.
2) Pass the class into the main entry point `Fire` function with the keyword argument `display`.
3) Rework the existing fire code base to rep

[2020-03-09 17:57] dbieber commented on #188
I like the idea of separating out these different components.

## Strawman idea

Here's the idea I'm toying with at the moment, but it still has some (big) drawbacks.

Signature:
`def Fire(component=None, command=None, name=None, serialize=DEFAULT, print=DEFAULT, display=DEFAULT):`

Here's how you would do each of 1-4:
1. (output altogether) `Fire(print=None, display=None)`
2. (stdout instead of p

[2020-03-09 18:25] nlarusstone commented on #188
@jaredtrog That's exactly what I was suggesting, thanks for putting it so succinctly.

@dbieber I understand your concerns, but I think that any solution we decide upon is going to increase the complexity of the API, since we're trying to handle a few new usecases as well as allow users to implement arbitrary functionality. That being said, I think one of the best parts of Fire is its minimalist d

[2020-03-09 18:26] dbieber commented on #188
Agreed that's another drawback to the strawman proposal. It would definitely be good to have a solution that allows turning off all output with a single setting.

[2020-03-09 21:09] dbieber commented on #188
That suggests another candidate:
`fire.Fire()` -> defaults (print usually, but use pager for help)
`fire.Fire(display=fire.DefaultDisplay)` -> defaults again
`fire.Fire(display=None)` -> turns off output entirely
`fire.Fire(display=print)` (Python3 only) -> print everything, never using `less`
`fire.Fire(display=fire.Print)` (Python2/3 compatible) -> print everything, never using `less`
[code]
whe

[2020-03-09 21:16] dbieber commented on #231
Take a look at the discussion in #188, which includes proposals for how to disable printing the output.

[2020-03-09 21:45] nlarusstone commented on #188
I like that proposal and think that if the user is writing a custom display function, it's ok for them to conform to our expected API (naming args file/kind).

Do we need to account for the serialization usecases as well though?

[2020-03-09 21:48] dbieber commented on #188
Yeah, serialization would be a separate config under this proposal.
`fire.Fire()` -> defaults
`fire.Fire(serialize=fire.DefaultSerialize)` -> defaults again
[code]

[2020-03-09 22:05] dbieber commented on #188
Maybe also we would use `fire.Display` and `fire.Serialize` as the defaults (instead of `fire.DefaultDisplay` and `fire.DefaultSerialize`) to keep things cleaner.

[2020-03-10 16:51] dbieber commented on #142
Answered in previous comment; closing!

[2020-03-10 16:51] #142 closed

[2020-03-10 16:54] dbieber commented on #137
Starting in 0.3.0 you'll be able to run `python -m fire project.submodule.add 1 2` even without needing to import fire in project or in submodule. It's not exactly what you're requesting, but maybe solves the same underlying problem.

[2020-03-10 16:54] #137 closed

[2020-03-10 19:01] nlarusstone commented on #188
Sorry, I think I'm getting a bit confused here. Are `fire.Display` and `fire.Serialize` classes or functions?

I think `display` and `serialize` are fine without the `default` prefix.

[2020-03-10 19:01] dbieber commented on #188
Functions

[2020-03-10 19:01] dbieber commented on #188
fire.Fire is a function too.

[2020-03-10 19:14] dbieber commented on #188
The reason we use FunctionNames instead of function_names is that at the time this project was created, that was an acceptable standard by the internal google python style guide. We've continued doing it for consistency. It would be good to switch to the more accepted standard of snake_case `function_names`. We have to keep supporting `fire.Fire` of course though, since that's used in thousands of

[2020-03-10 21:05] nlarusstone commented on #188
Ok, I'm still a little worried about the fact that we will need to add an argument per operation. What happens when we want to add a step between serialization and display (e.g. formatting)?

[2020-03-10 21:21] dbieber commented on #188
Let's do our best to anticipate things we may want to add in the future. Can you give an example of what formatting might be used for? To me it sounds like serialization and display cover the full pipeline from output to eyeball so I don't think a separate formatting step would be needed.

[2020-03-11 15:22] dbieber commented on #188
[Brainstorming: Another somewhat related place we may end up wanting an additional argument is exception handling. Fire raises FireExit exceptions (which extend SystemExit) in order to exit with a particular exit code. Users can catch these exceptions to prevent Fire from exiting the program, but it's possible we'd want to add a config around this too.]

[2020-03-11 17:15] nlarusstone commented on #188
Maybe I misunderstand what serialization entails (I would have thought it involves taking the information to be output and packaging it into a single, easily transmitted bundle).

Formatting to me would then be the process of arranging that information on screen (and display would be where to show it). An example of formatting would be if you're displaying on a pager, you might want to format with

[2020-03-12 12:03] albertotb commented on #188
Coming from #231, I think the proposed `fire.Fire(display=None)` would be a great way to catch the return of the function. As I understand it, this file `test.py`

[code]
when called like

```python test.py fn_test 5 6```

would print `11` only once and it would be exactly the same as if `fn_test(5, 6)` was called, right?

Also not related to #231, IMHO I'd rather pass functions to control output

[2020-03-15 05:17] NicholasMatthews opened #234 "Python 2.7 while loop issue, (list index out of range)"
`searchlist = []
import sys #imported the sys function to enable the printing of a variable multiple times on the same line during a loop
nconverted =[]
converted = []
words = []
n = 0
A = 1
B = 0
push = 0

def numberconvert():
    n = 0
    ciphertext = ["U","O","M","Q","Q","K","F","X","A","C","K","H","C","X","M","P","F","A","Y","H"]
    while n < 20:
        pos = ciphertext[n]
        number =

[2020-03-16 12:33] dbieber commented on #234
If you use triple backticks (\`\`\`) in your comment around your code, then it will be formatting properly.

[2020-03-16 12:36] dbieber commented on #234
Also, this Issues section is for issues related to Python Fire, so I'm going to close the issue.
Good luck in solving your problem!

[2020-03-16 12:36] #234 closed

[2020-03-16 22:37] armingh2000 commented on #230
I've been working on this issue for a while.I think that namedtuples are not correctly handled yet.
In inspectutils.py, the function IsNamedTuple is implemented wrong. Because namedtuple is not an instance of tuple ( isinstance(a namedtuple variable, tuple) is false). I wonder how it works on some namedtuples?
If we want to handle namedtuples, are we focusing on only collections module or also oth

[2020-03-17 03:05] dbieber commented on #230
I just confirmed in Python 3:

[code]

Where did you see a namedtuple that was not an instance of tuple?

Are there other collections or types you're thinking about? We don't have a clearly articulated scope. NamedTuples are important to handle well because they're commonly used.

[2020-03-17 06:33] armingh2000 commented on #230
Yes. You're right. I made a mistake in passing the right variable to it.

I've used typing.NamedTuple before. Which is a typed version of collection.namedtuple:(https://docs.python.org/3/library/typing.html#typing.NamedTuple)

It's Handled well here, like a collections.namedtuple object.

[2020-03-25 08:35] acerv opened #236 "fire raises "preexec_fn is not supported on Windows platforms" when using setuptools in windows"
Hello,

I'm using fire 0.3.0 and I had an issue running fire script in Window 10. Code is the following:
Inside auttools/ethrelay.py module I defined:

        .... ....

	def main():
	    fire.Fire(EthRelayTool)

Inside setup.py:

	entry_points={
        'console_scripts': 'ethrelay=auttools.ethrelay:main',
    },

Error:

    Traceback (most recent call last):
	  File "C:\userdata\workspaces\app

[2020-03-25 21:16] dbieber commented on #236
Thanks for reporting the bug.
I don't have a windows machine available to test this unfortunately.
Any help resolving would be appreciated.

[2020-03-25 21:19] spyoungtech commented on #231
One way you _might_ be able to do something like this is by using `contextlib.redirect_stdout`. For example, you could redirect to /dev/null (or platform equivalent)

[code]

[2020-03-26 11:12] qckzr commented on #236
Hey there!,

So `subprocess.py` has the following statement:

[code]

And `console_io.py` is calling the function `PreexecFunc`
[code]

Maybe adding `return None` when working in windows could help?, I'm not an expert in subprocess rutines ;-)

Also checking documentation https://docs.python.org/3/library/signal.html#signal.signal:

_On Windows, signal() can only be called with SIGABRT, SIGFPE, SI

[2020-03-26 14:58] dbieber commented on #236
Sounds like this is the change that introduced the issue: 074f4b25906b4c7bc309a64feeba8873ec5e849c
It was introduced in order to resolve #205.

[2020-03-27 16:30] acerv commented on #236
One way to handle **preexec_fn** in Windows is by doing:

    preexec_fn = None

    if platform.system() == "Linux":
        preexec_fn = os.setsid

    p = subprocess.Popen(
        pager, stdin=subprocess.PIPE, shell=True, preexec_fn=PreexecFunc)

But If software is not tested in Windows I'm aware there might be some other issues.

[2020-03-28 22:19] aaronsteers opened #237 "Add docs page with documentation on supported docstring styles"
Note: Given a little bit of guidance on what formats are supported, I'm available to contribute to the below and/or create a PR.

**User Story:**

As a developer using Fire, I would like to have a page or section in the Fire documentation [here](https://google.github.io/python-fire/guide/) and/or [here](https://github.com/google/python-fire) which gives guidance on which docstyle formats are suppo

[2020-03-29 15:22] dbieber commented on #237
Hello, great idea.

We currently support Google, Numpy, and rst (Sphinx) style docstrings. The docstring support is best-effort, and notably many features of rst docstrings are not currently handled. Additional limitations are listed at the top of [https://github.com/google/python-fire/blob/v0.3.0/fire/docstrings.py](docstrings.py).

Yes, a PR adding this to the documentation sounds good. I think

[2020-03-29 15:24] dbieber commented on #237
We chose to support those three because they seem to be the three most common docstring formats. Note we made this choice by googling and anecdotal evidence though, we don't have the numbers to back it up.

[2020-03-30 15:49] aaronsteers commented on #237
@dbieber - Incredibly helpful info, thank you! I'll try to take a stab at this over the next few days and I'll use the location you mention above. 👍

[2020-04-01 00:34] ntjess opened #238 "First-character argument flag is undocumented and behaves strangely when colliding with default options"
Consider the function signature:

[code]

After reading through the user guide for fire, I would expect `python myFile -h` to produce the help signature for this file. However, it runs the script with `headless = True`.

While in retrospect I suppose this makes sense, I would like some way of telling fire to disallow shortcut flags if they override user-expected options like --[i]nteractive, --[h]

[2020-04-01 00:46] ntjess commented on #184
Would showing type information also fit under this issue? E.g. if my function signature is
`def main(noDefault: str, default=True)`

intuitively I would expect the `--help` text to show `noDefault` is a string type.

[2020-04-01 02:39] dbieber commented on #184
Yeah, good idea, let's make a new issue to track that. We might end up fixing them together though.

[2020-04-01 14:06] ntjess opened #239 "Type information should be visible in help screen"
Function signatures containing typing information should also show this in the help screen. For instance, I would expect the `--help` screen for `def main(arg1: str, arg2=False):` to indicate arg1 is a string type and arg2 is a bool type with default false.

I think the easiest way to make this happen is to:
- _Always_ use type information when available (even if it contradicts the default argumen

[2020-04-01 14:07] ntjess commented on #184
Agreed. I just created #239. Does it look acceptable?

[2020-04-01 15:25] ntjess commented on #238
This would be easy enough to fix by adding a list of fire arguments [here](https://github.com/google/python-fire/blob/61785e614c9ee1f0f16f8d8f1fd18b92a1981b4a/fire/core.py#L867)

However, I didn't implement this fix since it would violate single source of truth (list of fire arguments defined in multiple places). If this is acceptable I can submit a pull request.

Without the hard-coded list, the

[2020-04-01 15:38] dbieber commented on #184
Thanks! Looks great

[2020-04-03 16:10] dbieber commented on #236
I got someone to try a couple things on a Windows machine, but they weren't able to reproduce the error. What version of windows? What version of Python? And can you confirm that `python example.py -- --help` reproduces the error for you for even a simple CLI?

[2020-04-03 17:59] dbieber commented on #236
Turns out we don't need preexec_fn, even on non-Windows systems. The fix is in af9d8488d595e71a73b95373e5a23cdf1ba54f2e and we'll do a minor release early next week.

Summary of the issue, now that we understand it:
1. preexec_fn doesn't work on Windows. Then why did so few people hit this bug? Our code only tries to use preexec_fn if you have less installed on your machine, and iiuc most Windows

[2020-04-03 17:59] #236 closed

[2020-04-03 18:01] dbieber commented on #199
Fixed by b97816196071901b714eb70258a6818a59782379 in v0.3.0.

[2020-04-03 18:01] #199 closed

[2020-04-06 03:34] MSAdministrator opened #240 "example in docs for grouping has no output"
Hello, following the docs here: https://github.com/google/python-fire/blob/master/docs/guide.md#grouping-commands

I am unable to get this to run when calling

[code]

It currently returns no output.

If I run either of the `digestion run` or `ingestion run` commands they work flawlessly just not the grouped command

Heres the code:

[code]

[2020-04-06 03:38] dbieber commented on #240
Can you provide an example of a failing command?

If you run

[code]
you should see
[code]

Is that not working for you, or is it something else?

[2020-04-06 03:39] dbieber commented on #240
Oh, is it `python example.py run` that isn't working?

That command doesn't output anything, because it neither prints nor returns anything. We should update the docs so that it does something...

[2020-04-06 03:54] MSAdministrator commented on #240
@dbieber Yep, that clears it up!  Thanks for the quick response!

[2020-04-06 04:03] dbieber commented on #240
It does. Both ingestion.run() and digestion.run() both get called (because Pipeline().run() is called). Just nothing is displayed, since Pipeline().run() doesn't return anything (and nothing prints along the way).

If Pipeline().run() returned something, it would be displayed.

[2020-04-06 04:06] MSAdministrator commented on #240
Ahh, okay I missed that those classes are returning and not printing - my bad - yep that makes sense.

Modified the example to just print and its working - derp on my part:

[code]

[2020-04-07 20:15] dbieber commented on #236
The release v0.3.1 is live now. `pip install -U fire` to upgrade.

[2020-04-09 07:37] armingh2000 commented on #230
@dbieber
I made a simple change and made a pull request. I think it'll do the job. Can you check?

[2020-04-10 23:44] tbenst opened #241 "[feature-request] help shows commands"
Thanks for this package. I'm exploring switching to fire since [Click is deprecating chaining commands](https://github.com/pallets/click/issues/1522#issuecomment-612132519). The example for https://github.com/google/python-fire/blob/master/docs/guide.md#chaining-function-calls is exactly what I was hoping for.

I'd like to propose a new feature for the --help flag output, that adds COMMANDS. Right

[2020-04-10 23:59] tbenst commented on #241
Duplicate of https://github.com/google/python-fire/issues/225

[2020-04-10 23:59] #241 closed

[2020-04-11 00:07] tbenst commented on #225
Thanks for this!

Perhaps wise to commit the current solution and refine per this comment later? Status quo help message is a bit tricky unless user is familiar with fire, and the solution you sketched out is a big improvement!

[2020-04-11 05:25] tbenst opened #242 "Proper way to do tear-up/tear-down?"
I have a pipeline tool that opens a file in `__init__`, mutates `self.nwbfile` using chained commands, and finally writes to disk & closes file. Right now I'm using `__str__` for this. Is this a reasonable pattern, or is there a better way?

[code]

[2020-04-17 19:08] dbieber commented on #242
Fire doesn't have any explicit mechanism for setting a teardown, but Python does.
If you add a `__del__` method to your class, it will be called automatically at the end of your program when your class is cleaned up.

E.g. your code could look like this:
[code]

[2020-04-19 02:12] Richard-Barrett opened #244 "Problem with Installation with Pip"
I have Python2 and Python3 both installed as I have to work with some applications that are still using python2. I tried running an install with `pip install fire`. However, it didn't work. Here is the traceback:
[code]

[2020-04-19 04:21] dbieber commented on #244
Does pip installing other modules work? It doesn't look like a fire issue from what you've posted.

[2020-04-19 04:23] dbieber commented on #244
From Googling the error, it looks like the solution is to run `brew unlink openssl && brew reinstall python@2`.

[2020-04-19 04:23] Richard-Barrett commented on #244
Pop works on installing other modules I had to install some other packages earlier.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David Bieber <notifications@github.com>
Sent: Saturday, April 18, 2020 11:21:53 PM
To: google/python-fire <python-fire@noreply.github.com>
Cc: Richard Barrett <richard-barrett@outlook.com>; Author <author@noreply.github.com>
Subject:

[2020-04-19 04:24] Richard-Barrett commented on #244
I meant pip sorry for the auto correction

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David Bieber <notifications@github.com>
Sent: Saturday, April 18, 2020 11:23:17 PM
To: google/python-fire <python-fire@noreply.github.com>
Cc: Richard Barrett <richard-barrett@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [google/python-fire] Problem with Ins

[2020-04-19 18:30] gab50000 opened #245 "AttributeError when calling a method which returns a BeautifulSoup object"
This is a small example to reproduce the error:

[code]

If I run this file via

[code]

I get error "AttributeError: 'NoneType' object has no attribute 'get'".

If I run

[code]

The variable result does not contain the expected soup object, but instead "<bound method Test.get_soup of <__main__.Test object at 0x7f80840e5460>>"

[2020-04-21 01:54] Richard-Barrett commented on #244
So it wasn't an issue with Fire...it was an issue with Brew.
For some odd reason, I had some bad symlinks on my local machine and this caused the issue. I have since reinstalled python and removed the symlinks and performed a cleanup.
I can verify that I was able to install fire via pip. I assumed it was fire because I was still able to use pip to install and upgrade packages.

Many Thanks for the

[2020-04-21 01:54] #244 closed

[2020-04-21 03:01] dbieber commented on #244
Great, glad it worked!

[2020-04-22 14:18] RilDev opened #246 "Use Fire with Python3"
Hi there,

I'm new to Python and I was wondering if we could download Fire for Python3?

My goal is to make a Pip package using Fire and Python3.

Thank you very much!

[2020-04-22 15:06] dbieber commented on #246
Yes! Python Fire works great with Python 3.

Once you have pip set up, you can simply `pip install fire` to install Python Fire.

Good luck!

[2020-04-22 15:17] jpic opened #247 "async callable objects"
With the following script:

[code]

Doing `./test.py build` outputs:

[code]

Instead of firing `Build().__call__` as expected.

[2020-04-22 16:29] RilDev commented on #246
Thank you for the quick reply @dbieber,

I did a test project and it works well with `python` but not with `python3`.

Plus when I installed the `fire` package I got a warning saying that the version `python 2.7` will not be supported for long. Is it something I should be concerned with?

[2020-04-22 16:49] dbieber commented on #246
Try `pip3 install fire`. It sounds like you've only installed fire for your Python 2 setup, not your Python 3 setup. Python environments can be really tricky. If you haven't looked into virtualenv or pyenv yet, I recommend using one of those.

[2020-04-22 18:02] RilDev commented on #246
It worked, thank you!

Ok, I'll look into `virtualenv` and `pyenv` :)

[2020-04-22 18:02] #246 closed

[2020-04-23 11:43] gab50000 opened #249 "When returning a dict containing keys starting with an underscore, these entries are not shown"
Example:

[code]
I guess this has to do with hiding private object attributes from the user?
But it would be nice if one could disable this behavior somehow.

[2020-04-23 19:35] MichaelCG8 commented on #184
Hi, I'm exploring fire for the first time and up for having a go at this one.  Could you point me towards the best place in the code to start familiarizing my self with the help strings?

[2020-04-23 19:43] dbieber commented on #249
If you add `-- --verbose` or `-- -v` to your command, then the hidden attributes will be included.

[2020-04-23 19:44] dbieber commented on #184
Glad you found it :)
If you have further questions, don't hesitate to ask.

[2020-04-24 12:06] gab50000 commented on #249
Great, thanks for the tip!
Do you think it would make sense to offer a way to enable such an option per default for certain functions?

For example:

[code]

This way, calling f would print the full dictionary, whereas calling g would only print "a: 2".

[2020-04-25 19:20] WaizungTaam commented on #245
The error log is
[code]

From https://github.com/google/python-fire/blob/master/fire/decorators.py#L87
[code]
`GetMetadata` uses `getattr` to retrieve the fire metadata from component `fn`. In this case, `fn` is a `bs4.BeautifulSoup`.

For `bs4.BeautifulSoup` ([bs4/\_\_init\_\_.py#L68](https://bazaar.launchpad.net/~leonardr/beautifulsoup/bs4/view/head:/bs4/__init__.py#L68)), it inherits from class

[2020-04-25 19:40] MichaelCG8 commented on #184
Okay, so it looks like the target section is `_ArgsAndFlagsSection()`, which calls `_CreateFlagItem()`, both in helptext.py

At the moment `_CreateFlagItem()` takes a `docstring_info` argument to include the docstring description of the argument in the help text. I propose also passing in the `spec` variable that is present in `_ArgsAndFlagsSection()`, which is an instance of `fire.inspectutils.Fu

[2020-04-26 15:32] MichaelCG8 commented on #184
Hi, I have a solution ready and would like to create a pull request.  However, when I try to push my branch I get the error message:
remote: Permission to google/python-fire.git denied to MichaelCG8.
fatal: unable to access 'https://github.com/google/python-fire.git/': The requested URL returned error: 403

Do I need to be an approved pusher? Or is it preferable that I fork the project and open a

[2020-04-26 16:00] dbieber commented on #184
Awesome summary.

Your assessment of the coding style is spot on. The redundant parentheses is a mistake on our part though, but we can clean that up in a separate change; let's stay consistent for now.

If you're inclined to do so that would be helpful, but keep it in a separate PR so we don't block #184 on getting contributing.md right.

Yes, that's the preferred method.
Thanks for putting toget

[2020-04-26 16:03] dbieber commented on #245
Thanks for diving into that @WaizungTaam! Your suggested fix sounds good to me.

[2020-04-26 18:25] mnowotnik opened #250 "Raising FireError in __init__ is not handled properly"
In version 0.3.1 when user attempts to raise error in the `__init__` method the effective error that gets printed is about missing `self` argument. Minimal example:
[code]

[code]

When executed interactively, the error is correct:
[code]

[2020-04-26 18:28] MichaelCG8 commented on #239
Change added in pull request #251

[2020-04-26 18:29] MichaelCG8 commented on #184
Great, thanks.  I've put in pull request #251.

[2020-04-27 11:52] MichaelCG8 opened #252 "CONTRIBUTING.md could have more detail"
Extra detail could be added to CONTRIBUTING.md so that new contributors will be aware of the process and coding style.  Some suggestions:
- The preferred flow is that contributors fork the project and open a pull request from there, rather than creating a branch.
- Code style should follow the [Google Python Style Guide]
- Use an indentation of 2 spaces for blocks, and 4 spaces for line continuati

[2020-04-27 13:22] dbieber commented on #252
Thanks MichaelCH8! This looks great.

We should fix the parentheses around return tuples in the code.

We are using Travis for CI. It is configured to run on PRs and commits to master. You can see the results (passing) on your PR by clicking the green check or red x.

---

A few other FYIs. The codebase internally at Google has slightly different lint rules from those tested in CI. I don't have th

[2020-04-30 21:03] RilDev commented on #246
Hi there @dbieber!

Thanks for the advice about the python environment managers. I settled for [pyenv](https://github.com/pyenv/pyenv) and [pipenv](https://github.com/pypa/pipenv).

Just as a follow up, I was able to publish my package on [pypi.org](https://pypi.org/project/gospel/)!

Finally I went for the [PyInquirer](https://github.com/CITGuru/PyInquirer) package for the ability to do interacti

[2020-05-01 20:52] MichaelCG8 commented on #252
Okay, I'll remove the parentheses line then.
To avoid putting too much onus on contributors, I'll mention that Travis is used, but it is suggested to run the tests with at least one interpreter
Likewise for linting I'll change to just one interpreter.

[2020-05-03 18:53] PyGera commented on #250
I've the same error with the same version. I'm trying to debug `core.py` because the problem is in this file. I'll let you know if I found something.

[2020-05-04 18:53] PyGera commented on #250
Today I've tried to create something like a filter in the `_ParseArgs()` function (`core.py`). This filter check if there is the keyword `"self"` in `fn_args` and the component is a class, so it remove `"self"` from `fn_args` and append it to `fn_defaults` (to do this I've converted `fn_defaults` to a list, I've appended `"self"` and I've reconverted it in a tuple), but this doesn't work. Tomorrow

[2020-05-04 21:21] dbieber commented on #250
@joejoevictor is also taking a look at this

[2020-05-05 12:15] dreamflasher opened #254 "Feature Request: Add annotation interface"
Please consider adding an annotation interface comparable to https://github.com/Lucretiel/autocommand:

[code]

eg.
[code]

[2020-05-06 18:48] jelleklaver opened #255 "Completion does not work with nested commands with 'group flags'"
I'm trying to create a CLI which consists of several command groups. Commands within the command group share some common flags. In my example that is e.g. the `--namespace` flag in the `sub` command group.

I got this working. However, it breaks some fire functionality like generating command completion and a proper `--help` output.

Note that I use the class object in stead of class instances for

[2020-05-07 12:42] neatville opened #256 "Feature request: Let users require parameters to have to start with '--', to easily run more than one function at a time."
The only examples I saw of calling more than one function at a time through the terminal with `fire` involved chaining functions. I would want each function I call to be able to ignore whatever the result might be from the previous one.

[2020-05-07 19:42] joshswimlane opened #257 "Accessing Available Indexes"
I have a project [pyattck](https://github.com/swimlane/pyattck) that is utilizing fire for it's command line interface and I am returning a list of objects.

For example, when using pyattck you can access all techniques from the Enterprise MITRE ATT&CK Framework like so:

[code]

When using fire, I can access the same data using:

[code]

My question is, how can I specify a range or to print out A

[2020-05-07 21:47] dbieber commented on #257
Python Fire doesn't provide a way to access an attribute of every element of a list at the command line. I'll consider this a feature request.

Here are two alternatives you can consider:

**1. Use interactive mode**
pyattck enterprise techniques -- -i
[code]
The interactive flag will put you in an IPython REPL with component equal to the techniques list, at which point you can query it however yo

[2020-05-09 15:33] snowch commented on #255
I've hit a similar issue with groups:
[code]
the generated autocompletion script looks like just a skeleton without my commands:

[code]

[2020-05-11 15:12] MehdiSaffar commented on #165
It is funny because I also called my script `fire.py` lol..

[2020-05-13 02:00] snowch commented on #255
Is there a workaround we can apply until this gets fixed?

[2020-05-13 09:20] holongate commented on #181
This is a very developer-centric view.
Contrary to function arguments (or @annotated functions), docstrings can't be internationalized at runtime...
CLI are also for the end users.

[2020-05-17 17:25] ntjess opened #258 "`--help` doesn't work on functions with `**kwargs` and all default args"
Consider the following example:

[code]

If the file is called using `python ./myFile.py --help`, the help signature is printed as expected

However, if `**kwargs` is added to the signature of `test`, the return value of the function is printed instead.  Is this expected behavior?

[2020-05-17 17:49] ntjess opened #259 ":key: parameter documentation doesn't correctly display in help signature"
Consider the following application:

[code]

Since `:key:` is recognized as sphinx documentation for keyword arguments, I would expect Fire to show it similar to :param: docstrings. However, the printout ends up looking like this:

[code]

Where the key is not displayed as a separate argument. Compare that to the PyCharm help signature:
![image](https://user-images.githubusercontent.com/23620506/8

[2020-05-18 16:41] dbieber commented on #259
Thanks for reporting this.
We would like to support this but don't yet.

The relevant source file is fire/docstrings.py.

[2020-05-19 07:11] Shichao-Wang opened #260 "Is there any way that can transfer path string to pathlib.Path object?"
I have some function that use pathlib.Path as argument, like following script
[code]

I simply test it with this.
[code]

I expect to get a `pathlib.Path` object rather than `str`. Is there any way that I can do this?
Thanks a lot.

[2020-05-19 09:57] MichaelCG8 commented on #260
Hi,

You've added a type hint for your test_fire function, specifying that `path` should be an instance of `Path`.  Python does not enforce type hints though, see the [typing documentation](https://docs.python.org/3/library/typing.html) and [PEP 484](https://www.python.org/dev/peps/pep-0484/) where it was specified.

When you call `test_fire()` you pass it a string, and it stays a string.  It is n

[2020-05-19 14:09] Shichao-Wang commented on #260
Hi, Michael.
That would be a solution, but with a little messy.
I will felt confused seeing this signature with following line `path = Path(path)` if I did not know about fire.
Maybe it will be a good idea to resolve arguments' type before passing it to function.

Thank you, anyway.

[2020-05-19 14:21] MichaelCG8 commented on #260
Hi, this isn't a thing that is particular to Fire, it is the case for all of Python.

In any Python project (whether they use Fire or not) you can pass any type to a function.  This is called [Duck Typing](https://en.wikipedia.org/wiki/Duck_typing) and the reason that Python uses it is that it makes functions more flexible.

Python doesn't care what type you give it, so long as it can use that typ

[2020-05-20 11:36] fabioz commented on #188
As a note, until there's a proper fix, the following workaround does seem to work (on version `0.2.1`):

[code]

[2020-05-21 00:11] lukedeo opened #261 "Multi-line parameter descriptions in Google-style docstrings"
Hey there! Quick question regarding the behavior of multi-line parameter descriptions in Google-style docstrings.

Consider the following code:

[code]

When running `main.py --help`, the resulting `man` is:

[code]
Notice that we are losing the following line here.

I'd expect the newline-containing description to be un-newlined (definitely not a word)

[code]

Or maybe included with the newline,

[2020-05-21 00:32] dbieber commented on #261
I actually thought we supported this already - I'll mark it as a bug. Yes, we would like for this to work.

[2020-05-21 01:00] lukedeo commented on #261
Thanks @dbieber!

[2020-05-22 12:44] MichaelCG8 commented on #261
I've seen the same using Numpy style docstrings, I'll find an example and add it later. I'll look into this tonight and see if it's something I can help with.

[2020-05-22 20:01] MichaelCG8 commented on #261
I've experimented and found the following.

    def foo(bar):
    """
    This does a foo on a bar.

    Args:
        bar (str): Though a simple parameter, this parameter will need a lot of
            verbiage to describe, requiring a second line.
    """
    print(f"Hi, {bar}!")

    def foo2(bar):
      """
      This does a foo on a bar.

      Parameters
      ----------
      bar : str

[2020-05-22 21:23] MichaelCG8 commented on #261
Okay, there appears to be two issues.

The issue with `foo3` is that in Numpy docstrings if a line in an arg description is interpreted as the next argument if it does not contain a space or a colon. See `fire.docstrings.is_arg_name()`. I've updated this to include checking for a period.  It would probably be more elegant to do something based on the indentation, but this is simple and fixes the i

[2020-05-23 04:16] DaniloZZZ commented on #98
Hi, I would like to vote for the feature **Allow passing arguments via stdin**

The syntax could be yaml or json. Yaml is more flexible, for example it automatically parses date and has syntax for using custom data type. Json is faster.

The usecases could be chaining output of one to input of other, but using all power of unix with tools for cli json editing like `jq`, counting words, and dumping

[2020-05-23 15:11] MichaelCG8 commented on #261
Added the fix in pull request #262.
For the Numpy issue I opted for a regex comparison for a valid argument name, since it fixes more issues than just my example by checking for a period.

@dbieber I was wondering if you have a feel for the release schedule at the moment?

[2020-05-23 18:09] dbieber commented on #261
Thanks for the fix!

The next feature-ful release doesn't have a date or ETA yet. The two primary goals for that are to 1) enable configs similar to what is discussed in #188 (display, serialize), and 2) enable a strict type mode, allowing Fire to benefit from type hints and prevent accidental type mismatches (such as passing an int to a function that expects a string).

We can plan smaller releas

[2020-05-26 18:09] MichaelCG8 commented on #261
Hi, thanks for the info!  Number 2 sounds interesting, is there an existing issue open for that?

[2020-05-26 18:34] dbieber commented on #261
#226

[2020-05-30 22:53] rayluo opened #264 "Do not execute anything if command line is invalid, and make it the default behavior"
I know a similar issue has been mentioned in #222 (which should have been labelled as Duplicated rather than a misleadingly Closed) , #226, and its root cause was well-explained in #168.

It is still worth to point out that, this issue can be much more easier to hit, thus much more severe than those somewhat contrived scenarios described in #222 and #168 (which was triggered by mismatching default

[2020-06-01 13:37] pselden commented on #188
Just wanted to throw another use case in here: I had to disable Display because it's printing out the result of my command (a very large dict) as a man-page style output (which doesn't make any sense in my context).

[2020-06-02 06:23] #260 closed

[2020-06-05 22:07] fbidu commented on #106
Hello, just to give a heads up, I stumbled on this issue again today. If you need help implementing something like this, let me know!

[2020-06-12 08:37] TomerBG2 opened #266 "Make completion depth adjustable"
When running `widget -- --completion` you can't control the depth variable.
Currently it's set to 3 by default and you cant change it using the CLI.

[2020-06-12 17:20] dbieber commented on #254
You can do something like this today:

[code]

We don't have plans on making this a more core feature though.

Hope that's helpful!

[2020-06-12 17:20] #254 closed

[2020-06-12 17:32] dbieber commented on #266
Hi @TomerBG2,
What is your use case for wanting to adjust the depth?

[2020-06-12 19:14] TomerBG2 commented on #266
Hi @dbieber ,
When using fire on an object consisting of a lot of sub-objects, the generated bash completion stops at the depth of 3. So lets say I have the following:
[code]
Currently you only get tab completion until the C object, after that you have press enter and see what commands are available. I can think of two ways to solve this issue using the interactive shell but this way it's not CLI

[2020-06-15 00:41] uhMale opened #268 "module 'fire has no attribute 'Fire'"
I know people have run into this issue and it was fixed by renaming the module from fire.py to something else. I don't have a module named fire and still can't get past this error. I've tried it on a windows 7 and windows 8 machine. I've also spun up two ubuntu 18.04 VM's on those windows hosts but I can't get past this error. Does anyone have any suggestions for me? If there is a better place to

[2020-06-15 15:01] dbieber commented on #268
After running `import fire`, run `fire.__file__` to see where fire is being imported from. Also run `fire.__version__` in case there's a version number available. The output of these two expressions should be helpful in debugging the issue.

[2020-06-15 15:19] uhMale commented on #268
Thanks! I looked into that and everything checked out. I finally just reinstalled fire and it now it's working fine. Weird that it happened on all those machines but it's certainly not an issue anymore. Thanks again!

[2020-06-15 15:19] #268 closed

[2020-06-23 14:13] HoBeom opened #269 "AttributeError: module 'ctypes' has no attribute 'wintypes'"
## import error in conda CMD.exe
[code]
## import error in conda powershell
[code]
## My env is window10 anaconda python
[code]
## before I got error, I installed [prdc](https://github.com/clovaai/generative-evaluation-prdc).

[2020-06-25 23:47] masq commented on #220
BTW, this issue seems to be a more or less the same as #204, though this issue seems more verbose perhaps?

[2020-06-26 18:15] aaronsteers commented on #204
Yes - confirmed I have the same issue. Documented also in #220

[2020-06-30 08:04] DvirB10 commented on #266
Hi @dbieber!

Any updates on this issue? Thanks! :)

[2020-07-02 14:34] 1MLightyears commented on #269
Sorry I failed reproduce your problem at both Anaconda(version 2020.02) with Python 3.7.6 at Win10 and Python 3.6.9 at WSL.
Both "import termcolor" succeed and prdc is installed by pip.
Maybe something is wrong with your Anaconda?
(That is very likely to be the truth, since I have just broken my Anaconda today by "conda upgrade conda".)

[2020-07-02 14:53] 1MLightyears opened #270 "Fire behaviour on spliting strings into tuples"
I'm using Fire to handle CLI variables in my project, while I found Fire has different actions for strings including commas.
When a string does not include commas, it will be transferred to a variable as a whole. But if the string includes commas, it will be split into parts and be transferred to a variable as tuple.
example:
[code]
When testing
[code]
This is kinda annoying...because my index to

[2020-07-10 06:10] asafkahlon commented on #266
Hello @dbieber, is there any chance to merge https://github.com/google/python-fire/pull/267 soon?
Thanks!

[2020-07-12 22:00] stanescuUW opened #271 "Installing on Linux Mint 20 Ulyana"
Having trouble installing this under Linux Mint 20, although it used to work under 19.3. Below are the error messages I get. Help will be greatly appreciated. I tried several python versions and all give me the same errors.

When installing with pip:
------------------------------------

pip3 install fire
Collecting fire
  Using cached fire-0.3.1.tar.gz (81 kB)
Requirement already satisfied: six i

[2020-07-13 18:28] dbieber commented on #271
https://stackoverflow.com/questions/36296134/attributeerror-install-layout-when-attempting-to-install-a-package-in-a-virtual suggests the error could be an out of date setuptools.
Try `pip install --upgrade setuptools` and then try installing Fire again.

[2020-07-13 19:45] stanescuUW commented on #271
@dbieber Indeed, this was it! Thank you, issue closed.

[2020-07-13 19:45] #271 closed

[2020-07-14 02:43] michaelaye opened #272 "complex objects in properties not possible?"
Using fire version 0.3.1, I have this simple code failing for me:

[code]

Getting these errors, when calling without options to see the help text:
[code]

[2020-07-15 11:58] jpic commented on #247
Hello,

This is fixed in #247, ready to merge.

Best regards

[2020-07-17 00:46] stroupbslayen opened #273 "components-extension"
Hi,

I just got introduced to this project and am really liking it so far, it's got a lot of potential, is relatively simple to understand and get up and working for something simple. Organization was a problem I ran into pretty quickly though and expanding into a larger project the process didn't really click for me for how to to get stuff working the way I would have liked. To solve this I forke

[2020-07-21 16:27] xinbinhuang opened #274 "Return pandas.DataFrame"
Hi team,

It seems that currently `fire` cannot return dataframe from function or method calls. I would to like make a contribution to this and create a PR this would be good feature to fire.

Let me know how you thinks

Cheers
Bin

[2020-07-21 16:56] nfultz commented on #274
That's odd, this worked in ~2018, I demoed it in a lightning talk at a pydata meetup - https://docs.google.com/presentation/d/1NHAYGN4Fx4YBVcaGAiJ4U3gEkyhhgE643r7Ka2MF2wI/edit?usp=sharing

[2020-07-21 18:07] xinbinhuang commented on #274
Hmm I see. I didn't know about the `to_string` method for Dataframe.

My Fire component is actually a class which utilize pandas under the hood and it returns a dataframe for most of the methods.

I think it's not intuitive for end-user (i.e. my client and colleague) to know that they need to chain command with `- to_string` to render the output properly.  Given that dataframe is such a popular ob

[2020-07-21 18:21] nfultz commented on #274
If you look at the stack trace, it's because DataFrames fail on inspect, which is used by fire to generate the list of subcommands.

You reproduce it ouside of fire using:

[code]

So if you make pandas work with inspect, fire will be compatible accordingly, or at least not crash.

OTOH, I'm not sure generating a list of the data frame API is very helpful since it's quite large.

[2020-07-21 19:50] dbieber commented on #274
Python Fire should work even when inspect.getmembers doesn't. I'll mark this as a bug.

[2020-07-21 20:27] amy-lei commented on #259
I would love to work on this if no one started yet! 😃

[2020-07-21 21:26] nfultz commented on #274
Fair enough. See also https://github.com/pandas-dev/pandas/issues/31474 , they know how to fix it but haven't yet.

[2020-07-21 22:35] xinbinhuang commented on #274
@nfultz  I am not familiar with `inspect.getmembers` in general, but I do get impressed by how quickly you gather all these information! These information is pretty good for me probably other people as a reference.

Thank you so much for the help!

[2020-07-24 18:29] amy-lei commented on #259
I started looking into this and wanted to get input before proceeding.

Following OP's example, is the desired output something like this, where it is its own section:
[code]

or, should it be listed under flags:
[code]

[2020-07-24 18:40] dbieber commented on #259
I think it should go under flags.

e.g. something like this:

[code]

[2020-07-27 09:36] sharvanir commented on #270
Hi, this looks like an issue in python ast module, which is splitting that string into two nodes, or some of that sort. Looking into this, please hang on.

[2020-07-28 15:21] dreamflasher commented on #168
@dbieber Is there any way to explicitly turn off chaining? This should solve this problem, too, right?

[2020-08-05 17:11] Sn3akyP3t3 opened #276 "Feature Request - Improved Documentation With Help Output"
I'm not finding an easy way to get the --help output to include some basic information including details about the arguments.  It seems to just parse the function signature and reflects on that only.  Maybe I'm just not assembling the function's documentation correctly.  Either way I found little to no examples in the online documentation explaining how --help is can be used in this way as well as

[2020-08-05 17:27] Sn3akyP3t3 opened #277 "Help Request - Disable NAME and SYNOPSIS Output"
I'm trying to find a way to disable the additional output that the fire library creates that comes after the process completes. It begins with NAME and includes SYNOPSIS.  I have no need for this additional output in my scenario as it could potentially cause trouble for another external process that calls this and is examining the stdout for its own processing.

Here's an example of what I'm descr

[2020-08-05 20:51] 8enmann commented on #226
I would love this! Without it I am going back to `argparse`

[2020-08-12 14:32] dbieber commented on #277
Here are some ideas.
Instead of defining a class (IntegrationClass) with your main method in it, just make it a function.

[code]

Or you could even just do this (removing IntegrationClass entirely):
[code]

[2020-08-12 17:02] Sn3akyP3t3 commented on #277
I'm not exactly sure I fully understand the why behind what is going on when using the offered solution, but the --help does show more, however it still seems to behave erratic in that I'm only seeing one paragraph of the description (Pizza lorem) and the last arg's description is cut off.

Here is the[ altered code used as suggested](https://gist.github.com/Sn3akyP3t3/411ac5dbad47e7f6dd49cd51c916

[2020-08-14 12:47] 1MLightyears commented on #270
It's getting even more weird...I still take the same example above:
[code]
I found this when I was trying to take space into my arguments, and found that as long as the string includes space, it will be parsed as a string, but no! I was looking for it being parsed as a tuple for I inserted comma between words!
Even
[code]
Will return
[code]
But
[code]
Will return
[code]
That is too complex and way

[2020-08-14 17:45] dbieber commented on #270
You can use `@fire.decorators.SetParseFn(str)` to change the parse function so that it always parses an argument as a string. Heads up this is experimental though, and the API may change in a future version.

[2020-08-15 11:05] 1MLightyears commented on #270
@dbieber Thank you very much, It works pretty well 😆
Now I have full control of the arguments inputted and that is exactly what I need. Thanks again!

[2020-08-15 11:05] #270 closed

[2020-08-16 16:11] projx commented on #165
Jeez.. I've just done this exact same thing, been scratching me head for the past 30 minutes! Thank you 👍

[2020-08-20 21:14] impredicative commented on #225
This is desired basic functionality for any CLI argument parser.

[2020-08-22 15:44] newbrio opened #279 "Hi, thanks for reporting the issue. It looks like nmap scan result is missing a required XML attribute (as specified [here](https://github.com/nmap/nmap/blob/a2d44ab1b4facea6dbe2bf0100f87f485e150161/docs/nmap.dtd#L126)). We will fix this soon."
Hi, thanks for repor

_Originally posted by @magl0 in httpm/google/tsunami-security-scanner/issues/27#issuecomment-657703352_

[2020-08-22 15:44] newbrio opened #280 "161/docs/nmap.dtd#L126)). We will fix this soon."
Hi, thanks for repor

_Originally posted by @magl0 in httpm/google/tsunami-security-scanner/issues/27#issuecomment-657703352_

[2020-08-22 16:46] #279 closed, assigned to nobody

[2020-08-22 16:47] #280 closed, assigned to nobody

[2020-08-28 06:22] BillionsRichard opened #282 "Use fire without exposing private members"
import fire
class Calculator(object):

  def add(self, x, y):
    return x + y

  def multiply(self, x, y):
    return x * y

# Privite method
def _sub(self, x, y):
   return x -y

Now, i dont want to expose _sub method on cli, How can i do this. thanks..

[2020-08-28 10:36] franticTyro commented on #229
Hello!
We are a group of undergrads from LNMIIT, Jaipur from India and looking for a contribution to open source as a course project under [Prof. Philip Miller](https://www.linkedin.com/in/philip-miller-7686b06) . We are highly interested to work on this issue. Can we expect your guidance and support and proceed further?

[2020-08-29 03:31] shubhamrocks123 opened #283 "I want to contribute in this open open source project."
I have to improve my knowledge doing this grate project, plz accept my request.

[2020-08-29 07:04] #283 closed

[2020-09-02 12:01] alejandra-gutierrez opened #284 "ImportError: No module named fire."
I run the command
`pip3 install fire` and then run the hello.py script shown in the tutorial. This is the error message that I get:

[code]

[2020-09-03 03:19] dbieber commented on #284
Try running `python3 hello.py` since you installed fire with pip3.

If that doesn't work, please run `type python` and `type pip3` and share the results here to help debug the issue.

[2020-09-03 03:22] dbieber commented on #282
Private methods are hidden from view by default, but a user can access them by adding the --verbose flag to your CLI.
There is not currently a supported way to prevent users from accessing private members altogether.
We may support this in a future version, but don't currently.

[2020-09-04 15:27] dbieber commented on #283
Glad to hear you'd like to contribute!
Perhaps one of the "Help Wanted" issues (https://github.com/google/python-fire/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) will appeal to you.

[2020-09-16 13:11] MaxG87 opened #285 "Default to certain command if none is given at CLI"
Consider the following MWE program:

[code]

I want to achive that if I invoke it without any arguments (`./firetest.py`) it executes `print_plopp()` (or some other function I chose).

Right now I do not see how this can be achieved. Is it possible at all?

[2020-09-16 13:33] MaxG87 commented on #285
So, I found a way, but I do not like it. One has to create a CLI class and nest the functions of interest inside it. Then one can call the default from __call__, which will be called when no argument is given. However, I find this unnecessarily complex and would be glad about a more elegant way.

[code]

[2020-09-16 14:51] nfultz commented on #285
I would probably do this manually by checking the number of arguments,
something along these lines:

    fire.Fire() if len(sys.argv) else print_plopp()

On Wed, Sep 16, 2020 at 1:33 PM Max Görner <notifications@github.com> wrote:

[2020-09-17 07:25] MaxG87 commented on #285
In hindsight, this is the obvious and elegant solution. Thank you very much.

[2020-09-17 07:25] #285 closed

[2020-09-17 07:28] TomerBG2 commented on #266
@dbieber Any updates on this?

[2020-09-25 14:25] tbrodbeck opened #286 "Feature request to show help output inline"
It would be great if the output help command would not cover the whole screen and after that disappear, but if it would just append its output to the command line like most unix commands do output their help info.
You could also add this as an option, in case users need the current functionality.

[2020-09-27 08:46] matteoredaelli opened #288 "how to hide SELF parameter from the help message?"
I use fire as suggested by  "Version 4: fire.Fire(<class>)"

When I run "mycmd search --help"  I get a nice help text but I'd like to remove the not useful/internal parameter SELF
If it my fault or a bug?

Thanks in advance

[code]

[2020-10-02 17:13] bradleydamato commented on #272
@dbieber can we just use `type(member)` instead of `member` here? It works on my local when I make that change. Happy to PR if you think it will work.

[2020-10-02 17:25] dbieber commented on #272
Are you asking about modifying the line `if member in (absolute_import, division, print_function):`?
Yes, that could work.

[2020-10-02 17:29] bradleydamato commented on #272
@dbieber it looks like it works. Gonna add a PR today. Thanks for the quick response.

[2020-10-02 17:35] bradleydamato commented on #272
@dbieber here is the PR https://github.com/google/python-fire/pull/290

[2020-10-02 19:46] dbieber commented on #272
Fixed on master 👍
Will go out in the next release (no date yet)

[2020-10-02 19:46] #272 closed

[2020-10-03 12:35] dbieber commented on #274
Would you be able to provide a minimal example reproducing the issue?

[2020-10-04 13:09] ritwik12 commented on #156
@dbieber I am trying this one out.

[2020-10-05 16:00] matteoredaelli commented on #288
Sure.

https://gitlab.com/matteoredaelli/ad/-/blob/ab1a08ebf397753693213b39048411d35c45caf9/ad.py

Thanks
Matteo

[2020-10-05 18:35] dbieber commented on #284
Feel free to reopen this issue if you'd like more help debugging.

[2020-10-05 18:35] #284 closed

[2020-10-13 03:37] joshswimlane commented on #257
Sorry, for some reason I lost or didn't hit comment on my response.  Again my apologies.

I understand that you can access this via interactive.  I have both a __repr__ and __str__ methods implemented but the output is an extremely large json string for each object (if I had to guess 500+ objects).  I was hoping that a feature could be implemented to access or `|` or iterate over each object in a

[2020-10-13 14:28] genos commented on #274
Sorry for barging in, but I use Pandas a lot and have recently really enjoyed building my CLIs via fire.

# Script
[code]

# Environment

Setting up a Python 3.8 virtual environment, activating it,  installing dependencies:

[code]

# Running

It looks like our version of Pandas fixes the `inspect`-related `NotImplementedError` mentioned above; when running the script inside our environment, we ge

[2020-10-13 14:36] dbieber commented on #274
Thanks!

[2020-10-13 14:42] genos commented on #274
Happy to contribute!

If we uninstall the released version of fire and instead install from the current `master` commit from GitHub:

[code]

it looks like we get dropped into the help information for `pd.DataFrame`:

[code]

[2020-10-15 20:02] ramonemiliani93 opened #291 "Allegro trains integration."
Hi, I am currently trying to integrate `python-fire` and `trains`. Trains, at the moment, is capable of automatically detecting the arguments when using `argparse`. I tried with fire but unfortunately the same does not happen. Could you point me to where the argument parsing happens in fire?

[2020-10-15 20:33] dbieber commented on #291
The arguments are initially parsed here:
https://github.com/google/python-fire/blob/878b8d86f488ef2606cffdf58297dd2781708316/fire/core.py#L123

You can see how they're used in the `_Fire` function's large loop, described here:
https://github.com/google/python-fire/blob/878b8d86f488ef2606cffdf58297dd2781708316/fire/core.py#L366-L388

Let me know if you have further questions.

[2020-10-15 23:16] bmartinn commented on #291
Thanks @dbieber !
It seems the [_ParseArgs](https://github.com/google/python-fire/blob/878b8d86f488ef2606cffdf58297dd2781708316/fire/core.py#L745) is where the magic happens, defining the names of the arguments, default values etc. Is this correct?

[2020-10-16 02:23] dbieber commented on #291
Yes that's right.
You'll also want to take a look at
https://github.com/google/python-fire/blob/878b8d86f488ef2606cffdf58297dd2781708316/fire/core.py#L670-L671

^^That's the path for parsing arguments to a function. Fire also supports using command line arguments for e.g. accessing a member of an object too.

[2020-10-19 13:24] ludovicschwartz opened #292 "Hyphen vs underscore for variable names"
One common thing is to have arguments made of multiple words, for instance `name of cat` that can written in 3 commons way :

- nameofcat
- name_of_cat
- name-of-cat

While the first one is compatible with pretty much everything, the second one should be avoided in bash (https://stackoverflow.com/questions/1253679/should-command-line-options-in-posix-style-operating-systems-be-underscore-style) an

[2020-10-20 22:39] dbieber commented on #292
Both --name_of_cat and --name-of-cat should work:

[code]

[2020-10-21 10:07] shangxiao commented on #286
Yes I'd prefer the current man page style output to be add to man and have an inline output as the default. I'm not sure how it could install the man page though, perhaps it'd be something that could be done via setuptools?

[2020-10-21 12:29] dbieber commented on #286
As a workaround for now, you can pipe the help to cat to have it appear inline.
e.g. `python example.py -h | cat`

[2020-10-21 14:45] nfultz commented on #286
"Short help" vs "long help" is a really good feature idea, especially for large classes, but it's not clear to me how to specifically implement it.

[2020-10-22 17:23] thomasgilgenast opened #293 "string literals in lists can't start with numbers"
Following the example from [the fire guide section on argument parsing](https://github.com/google/python-fire/blob/master/docs/guide.md#argument-parsing), it seems like when passing a list of strings to fire, none of the elements of the string can start with a number, unless two extra pairs of quotes are used (no single pair of quotes works, at least in bash).

[code]

This is because `ast.parse()

[2020-10-24 21:22] orkun1675 commented on #261
We have been avid users of Fire (thank you for making it available!) and recently ran into this issue as well.

@MichaelCG8 with your PR would the following work as well?

[code]

[2020-10-25 17:00] zzhmark opened #294 "*varargs cannot tell the difference between whitespaces within and out of quotes"
I tried putting some paths as `*varargs`. I found if my path contained whitespaces, whether I quoted the paths, fire will always separate them by any whitespaces it found. Hope you can fix this.

[2020-10-26 11:30] ludovicschwartz commented on #292
Thank you very much for your answer.
It is noted in the documentation and I just missed it :( :
[here](https://github.com/google/python-fire/blob/878b8d86f488ef2606cffdf58297dd2781708316/docs/guide.md) in the Fire docs:

[2020-10-26 11:31] #292 closed

[2020-10-26 14:57] dbieber commented on #294
Thanks for opening the issue. Could you please provide a simple example?

[2020-10-27 16:43] mgielda commented on #168
Hi everyone, how can we help push this forward? The inability to check whether the arguments provided are correct is definitely a large drawback to what otherwise is an awesome framework. I would say I'd prefer explicit chaining personally. The obvious default behavior would be for a CLI to fail if the signature is wrong.

[2020-10-29 16:05] anth2o opened #295 "Display parameters of the parent class"
I would like to build objects that I can instantiate and call directly from a CLI. But I want to have a base class, that I can inherit from for other classes to add new arguments. Here is a minimal example:

[code]

I can use this file to do `python3 myfile.py --name foo --number 10` and this prints me in my terminam `foo + 10`. But, I would like to display the help of the CLI in a terminal, and w

[2020-10-30 19:33] dbieber commented on #168
Thanks for the interest.

The change we're considering is to require explicit chaining (using a separator, which is "-" by default) when not all the arguments are received, and to only allow implicit chaining when all arguments have values. No one is actively working on this.

One implications of this change would be that functions that accept *args or **kwargs would always require explicit chaini

[2020-11-02 18:18] Spriithy commented on #286
In a broader scope, it would be really beneficial to let people customize/tweak some settings ON/OFF etc. I'm currently using Fire to help execute REPL commands parsed with shlex, and I would really like to customize help message output (not a pager, default stdout). I cannot really think of a usecase where you would want paged help messages for a CLI tool ?

Are there any plans for supporting thi

[2020-11-04 23:13] tabbyrobin commented on #247
I notice the pr imports asyncio. Would this fix work for a script using trio?

[2020-11-05 10:52] jpic commented on #247
@tabbyrobin not sure, what happens when you try ?

[2020-11-05 15:27] mattgillucl commented on #276
See issue #259 which does give more help info on function args

[2020-11-05 16:38] dbieber commented on #286
No plans to add those configs in the next couple of months. Will revisit in the new year.

[2020-11-06 23:55] tabbyrobin commented on #247
It appears to have no added ill effects, but it doesn't fix the issue either. Seems to just do the same as  without it. Note: my code imports both trio and asyncio

[2020-11-16 09:43] hbh112233abc opened #297 "How can I get json param"
`test.py`
[code]
example:
[code]
the param `name` is json dict, result print:
[code]
but when input:
[code]
the param `name` can't parse to json, it's a `str`,how can I get the json param??
[code]

[2020-11-17 01:21] hbh112233abc commented on #297
environment:
win10 64bit
python3.6 32bit
fire 0.3.1

linux centos8 not found this problem!

[2020-11-24 10:57] wiso opened #298 "display commands in a particular order"
In the help Fire displays commands in alphabetical order. It would be nice to be able to show them in a custom order specified by the user.

[2020-11-24 20:53] genos commented on #274
Just tested against the latest commit (3be260e65a0c25d1dbbe1b15eeb0bf13ac7ec38f), still getting the same behavior.

[2020-11-25 22:35] jwickens commented on #225
Would be happy to help and submit a PR along the lines of @dbieber's last comment if a maintainer is open to it.

[2020-12-04 12:10] zillionare opened #299 "Help Request - how to show cli's version?"
If I build a cli tool (for example, called foo), how can I show foo's version by calling:

[code]

Thanks for help.

[2020-12-04 13:49] Nov1kov opened #300 "[FEATURE REQUEST] typed arguments"
If I write a typed variable argument, I am expecting an argument of a specific type.
Example:

[code]

but

[code]

So this feature will not break [argument parsing](https://github.com/google/python-fire/blob/master/docs/guide.md#argument-parsing). The typed argument should be enough to detect the real type.

[2020-12-04 17:19] nfultz commented on #299
If you write a function that prints out the version of your tool, Fire can invoke that function for you.

[2020-12-06 10:12] zillionare commented on #299
at last use the trick to achieve this, but still would like to know if there's best practice:
[code]
then run ``foo --version`` will got "version is 0.1"

[2020-12-07 21:53] costincaraivan commented on #184
Hi, @dbieber is there a plan to release this somewhat soon? It's a really useful feature 👍 (thanks a lot @MichaelCG8)

[2020-12-08 02:37] #299 closed

[2020-12-14 16:08] gerardsimons opened #302 "Dart version"
Hi there,

Very sorry if this is not the proper channel to go through, but I am about to embark on a Dart CLI project and was hoping to use my beloved Fire framework for building it. Any plans of porting it to Dart? If not I might give a stab at it myself in which case I would highly value some advice on this from the good Python fire people.

[2020-12-14 20:20] dbieber commented on #302
No plans on porting to Dart. Go for it!

[2020-12-15 19:10] #302 closed

[2020-12-16 05:24] #273 closed

[2020-12-16 20:19] dbieber commented on #273
Awesome!

Thanks for sharing this. I'll take a closer look at your project soon, but at a glance I like the premise :).

[2020-12-16 20:35] dbieber commented on #273
The link to your project doesn't work and I don't see it in your repositories (https://github.com/stroupbslayen?tab=repositories). Perhaps you made it private or deleted it.

[2020-12-16 20:49] dbieber commented on #259
Done in #275

[2020-12-16 20:49] #259 closed

[2020-12-17 00:00] genos commented on #274
[_ping_] Just checked against the latest commit (bc43dca), still getting the same behavior.

[2020-12-17 00:32] dbieber commented on #274
Thanks for the pings.
I can confirm the behavior you're seeing.

The issue now seems to stem from our implementation of "HasCustomStr".
https://github.com/google/python-fire/blob/bc43dca6a52ef6914f0e5d3ec76b316d8fdd648b/fire/value_types.py#L63

`HasCustomStr` should return whether an object defines a custom "\_\_str\_\_" function. DataFrames clearly do, since `str(df)` prints the dataframe nicely.

[2020-12-17 00:39] dbieber commented on #274
Ah,

So if I'm understanding things correctly, here's what's happening.

DataFrames don't redefine \_\_str\_\_, they just redefine \_\_repr\_\_. The default implementation of \_\_str\_\_ is simply to call \_\_repr\_\_.

The fix will be to update our HasCustomStr method to also check for custom a \_\_repr\_\_ implementation. If either is present, we'll return True.

This will switch Fire's behavior

[2020-12-17 01:08] dbieber commented on #274
Well, my approach to detecting custom `__str__` methods doesn't seem to work quite as simply for detecting custom `__repr__`. Depending on the type of the object, the default `__repr__` implementation may come from "type" or "method" (where do I find this "method" object"?). This is going to require more poking around.

Also, this heuristic might not be good enough. E.g. OrderedDict redefines `__r

[2020-12-17 07:53] UrielMaD commented on #300
Hello @Nov1kov, I was wondering if you want to add typed args to the whole codebase or there are some priority files? either way, I would like to take this issue

[2020-12-17 19:28] dbieber commented on #252
Done with #253 by 629d91c3f3656049f61b44b734044e51a7895619

[2020-12-17 19:28] #252 closed

[2020-12-17 20:31] vinayak-parab commented on #298
@wiso can you please share some more information about how the current help result shows up and how would you like to customize it with an example or sample screenshots ?

[2020-12-18 09:10] wiso commented on #298
sure, actually is is very simple. This is the help I get
[code]

the commands are displayed in alphabetical order. I would like to customize that order.

[2020-12-18 14:09] vinayak-parab commented on #298
Hello @wiso
I was able to reproduce the issue on my machine.

**import fire**

**def hello(name="World"):**
  **return "Hello %s!" % name**

**if __name__ == '__main__':**
  **fire.Fire(hello)**

when I run the code with the following command : **python firecli.py vinayak --help** , it shows the list of commands that could be used in alphabetical order (screenshot attached). However, I do not see

[2020-12-18 14:13] wiso commented on #298
There is no issue of any kind. My point is just that I would like to show then list of actions in an order defined by me, and not by alphabetical order.

[2020-12-18 14:18] vinayak-parab commented on #298
Ok got it. I understood your point.

[2020-12-22 10:36] stephenvincent27 commented on #229
@dbieber I believe that we have a working solution for this. As it stands, the current implementation relies heavily on the AST library to identify individual elements in containers and put quotes around them when necessary:

What we try to do instead, is perform this identification of individual elements manually, by considering some general delimiters (take for example, when in a list, a comma (

[2020-12-22 15:11] dbieber commented on #229
Thanks @stephenvincent27!

I'd love to hear more. This is definitely an area we want to improve in Fire.

[2020-12-23 06:39] Nov1kov commented on #300
@UrielMaD  Hello! Sorry for the late answer.
I don't inspect the codebase yet. I'll be happy If you want to make this feature! 👍

I guess the feature is quite huge. We should define:
1. Unexpected types (e.g. def method(arg: MyCustomObject):
2. raise Exceptions for unexpected types.

[2020-12-24 17:26] stephenvincent27 commented on #229
@dbieber Thanks for your prompt reply!

Here’s a rough flowchart for our implementation: [Drive Link](https://drive.google.com/file/d/1ezf6S6y4RMkV2Ie2yzlln6k3VOuQKFDR/view?usp=sharing)

To summarize: We parse the argument by dividing it into one of the three major cases:

1. The argument is a container. In that case, ignore the braces, and perform the check again. In the case of dictionaries, we

[2020-12-24 19:18] dbieber commented on #229
This is looking good! I agree we can ignore most of those failures of the fuzz test (not sure about what we should do for '...'; see end). We should update the fuzz test so those don't count as failures any more.

I think our next step should be to list out new test cases so that we can some concrete examples on which to evaluate your approach. This will make discussing potential changes easier, g

[2020-12-26 07:10] stephenvincent27 commented on #229
I do have some cases myself, I think we can add them to parser_test.py. I’ll suggest more when it comes to me:

`[{abc:3+4j,'colon:here':('spaces, and commas', 123.45),1e5:{'''abc''':True}}]` -> `[{'abc': (3+4j), 'colon:here': ('spaces, and commas', 123.45), 100000.0: {'abc': True}}]`
`{'''[all (delimiters)], are present {in} this:string!'''}` -> `{'[all (delimiters)], are present {in} this:string

[2021-01-05 18:21] kerenskybr opened #305 "[help] Display custom docstring from functions"
Hi. There's a way to use my doc string when running from command line?
This is the default behavior:
[code]
I wanna see my doc string help, not the Fire one. This is possible?
i.e.
[code]

[2021-01-07 18:40] varunjohn786 commented on #298
### **Option 1: When reordering sequence is specified using command line.**
_File-name = fire_test.py_
[code]
**Command line input with default sequence:**
[code]

**Output:**
[code]

**Command line input when a user specifies a sequence:**
[code]

**Output:**
[code]

### **Option 2: When reordering sequence is specified in the file (fire_test.py in this case)**
[code]

**Output:**

[code]

#### P

[2021-01-08 07:33] stephenvincent27 commented on #229
If all seems good, should we go for the PR? We can further discuss things there.

[2021-01-08 13:59] wiso commented on #298
Thank you. I haven't tested, but the last solution seems to do what I want in the simplest way.

[2021-01-08 16:14] varunjohn786 commented on #298
Please validate the changes and test it using the code in my forked repository. Since the code mentioned in above comments does not contain all the changes required in _core.py and helptext.py_ files.
**Link to the repository** [https://github.com/varunjohn786/python-fire](url)

[2021-01-08 17:01] dbieber commented on #229
Yes, that sounds good.

[2021-01-09 13:36] wiso commented on #298
your example works only if I run `fire_test.py -- --help`. If I run `fire_test.py` I get the alphabetical order.

[2021-01-09 15:33] varunjohn786 commented on #298
My initial understanding was that the reordering was required in only ```--help``` functionality of ```python-fire```. But now, I have made changes to the code so that it now gives the reordered list of commands if you run ```python fire_test.py``` also.

[**Link to branch with code**](https://github.com/varunjohn786/python-fire/tree/varunjohn786-command-reorder)

[2021-01-09 22:30] wiso commented on #298
ok, thanks.

There is a problem, I have added a documentation string in one function and the order is not correct

[code]

[2021-01-10 05:46] ampresent opened #306 "-jthreads support"
GNU Make takes -jthreads as arguments, which is a common usage.
Is it possible to let fire treat -j8 as -j 8?

[2021-01-11 00:18] dbieber commented on #306
Thanks for the suggestion. No, this is not currently supported.

[2021-01-11 17:03] varunjohn786 commented on #298
Thanks for pointing out the error. I have made changes to the code so that now documentation strings don't affect the reordering of the commands. I have also made changes so that every occurrence where commands get displayed as help will have this reordering.

[**Link to Branch**](https://github.com/varunjohn786/python-fire/tree/varunjohn786-command-reorder)

[2021-01-14 18:00] wiso commented on #298
Thank, it works!

[2021-01-15 13:08] varunjohn786 commented on #298
Thanks for the confirmation. I will soon raise a pull request with the change.

[2021-01-16 03:11] yalcinerbasi opened #308 "Error: Could not consume arg: -f"
![image](https://user-images.githubusercontent.com/52570293/104795728-a2689680-57c1-11eb-9b6e-a8cfcafc7fcc.png)

[2021-01-17 20:22] MichaelCG8 opened #309 "Missing helptext for multiline argument."
Only the first line of help text is displayed for argument `name`.
Thanks @orkun1675 for reporting.

    def foo(self, name):
        """Greets name.

        Arguments:
          name: The person to greet. This is a very long line that has to be word
            wrapped and contains a colon (:) in it.
        """
        print('Hello %s' % name)

[2021-01-17 20:23] MichaelCG8 commented on #261
@orkun1675 No, my PR doesn't fix that case, but I can see the cause. I've opened #309 to track.

[2021-01-17 20:50] MichaelCG8 commented on #309
`fire.docstrings._consume_google_args_line()` processes the missing line as though it is an arg and type. Potentially fixable by being more selective about what constitutes a new arg line (not just that it contains a colon) or being more clever in the call to `_as_arg_name_and_type` which currently takes everything before the colon and returns `('wrapped', 'and contains a colon(')`

[2021-01-19 03:26] dbieber commented on #308
Could you provide additional details? What is `hello`? What command did you run?

[2021-01-19 20:40] #308 closed

[2021-01-19 20:41] yalcinerbasi commented on #308
Thanks, I have solved my problem

[2021-01-21 04:11] spectereye opened #311 "google fire run @property automatically"
i use google fire for cli, and met an issue below, could you please help?

[code]

then run as

[code]

as seen it print "foo" which is unwanted, any elegant way to solve this?

[2021-01-22 06:04] spectereye commented on #311
close this ticket please, find this has been solved in latest fire

[2021-01-22 16:14] dbieber commented on #311
Closed!

[2021-01-22 16:14] #311 closed

[2021-01-22 16:31] dbieber commented on #98
Adding to the list the ability to configure the order functions are displayed in the help screens
https://github.com/google/python-fire/issues/298 PR: https://github.com/google/python-fire/pull/310

[2021-01-22 16:40] nfultz commented on #98
I think there are actually two different features:

1. use data from stdin as arguments, perhaps variadically or perhaps with multiple invocations. xargs does this well for me
2. Use stdin as an input filename - some programs that expect filenames as args can also accept `-` as an alias to read from the /dev/stdin

[2021-01-22 16:43] dbieber commented on #261
Done in https://github.com/google/python-fire/pull/262
Thanks for opening #309 and for the fix here, @MichaelCG8

[2021-01-22 16:43] #261 closed

[2021-01-22 20:21] uklft opened #312 "Display help string for groups"
I may have overlooked it in the docs, but is it possible to set the help text of command groups?
Just like in this issue, but intentionally:
https://github.com/google/python-fire/issues/204

![](https://user-images.githubusercontent.com/26889933/66683139-95a6db80-ec2b-11e9-8a30-d928b3352538.png)

[2021-01-22 20:25] uklft commented on #312
Never mind, i discovered that adding a docstring to the class does exactly this.

Thanks anyway for that awesome project!

[2021-01-22 20:25] #312 closed

[2021-02-01 17:34] AmmarRabie opened #313 "Chaining Function Calls breaks usage of default arguments values"
consider the [basic example](https://github.com/google/python-fire/blob/master/docs/guide.md#chaining-function-calls) at the guide docs. If any function has arguments with default values, we have to pass all of them first, then chain other calls. if you try to call the second function directly, this will be considered as overridden value of the arg. <br>
I have modified the basic example to illust

[2021-02-01 17:41] AmmarRabie commented on #313
I don't what is the best solution, for now I send default parameters again from the command line. may be adding another version of the function with default parameters embedded into its body will fine in some cases.
What I expect to find in the documentation of Fire, is to have special wildcard (e.g `$`) that we can append before command name to force interpret as command. But I didn't found

[2021-02-01 17:45] nfultz commented on #313
Did you try using the seperator?

[2021-02-01 22:26] AmmarRabie commented on #313
Oh, thanks. I didn't catch it in the guide document. Worked with separator

[2021-02-01 22:26] #313 closed

[2021-02-02 17:11] NikoKS opened #314 "show flag alias on the help page"
Hi, since the feature to use flags alias has been added. Is there a way to show the alias on the help page?
e.g. something like this:

FLAGS
  --flag, -f=FLAG
    This is a description of the flag: flag

If not implemented yet, do you have a plan to implement this?

[2021-02-02 19:46] dbieber commented on #313
Yep, the separator is your solution!

Putting `-` in your command indicates that you're done providing arguments to a function. Any more arguments get passed to the result of the function. It's particularly useful when chaining commands that have default arguments (or varargs or kwargs).

[2021-02-04 00:00] Mirandatz opened #315 "Optional and required flags are swapped in the "Usage" message"
Running python script.py command

[code]

Prints

[code]

The "ERROR" message correctly points that arg1 is required, but the "Usage" message is swapping required and optional arguments.

[2021-02-04 15:27] dbieber commented on #315
Thanks for reporting the issue!

[2021-02-04 19:04] xavierfigueroav commented on #315
I would like to take this issue!

[2021-02-04 19:30] dbieber commented on #315
Excellent, thanks xavierfigueroav. Let me know if you need any pointers to get started.

[2021-02-04 19:44] xavierfigueroav commented on #315
I think I got it, it was very simple. I guess I have to write tests for the change. If so, I need pointers on how to simulate the call `python script.py command`. I think that the following component is the most suitiable for this case:
https://github.com/google/python-fire/blob/8e9b1d52132cfab5f789435a9d88bdf881bbbe22/fire/test_components.py#L125-L134
But, I don't know how to simulate the call to

[2021-02-04 20:10] xavierfigueroav commented on #315
It seems that the bare `*` actually matters :sweat_smile:. I need something like
[code]
So, should I add a function like that to the MixedDefaults component or create a new component?

[2021-02-04 20:51] xavierfigueroav commented on #315
Well, I opened #316. If any changes are needed, please, let me know.

[2021-02-04 22:38] ConorSheehan1 opened #317 "Feature request short arguments in help text"
Saw short arguments were added in #141, which looks great!

I was wondering if it'd be possible to include the short args in help text too?

I was thinking something like, given:
[code]
The output could change like this:
[code]
I'd be happy to try and pr this myself if you think it's worth adding?

[2021-02-12 13:02] c6401 opened #319 "Feature request: shebang string for fire"
Would be nice to be able to use just shebang string and not import anything explicitly
like illustrated here:
[code]

[code]

[2021-02-12 16:37] dbieber commented on #319
That should already work. :D

[2021-02-13 12:51] c6401 commented on #319
@dbieber
It does not, decided to debug more - the issue is `-m fire` expects to have python module notation path like if example.py will be in `~/bin` directory then the correct way to call it from ~ is
[code]
but not
[code]
And now after finding out why it doesn't I'm not 100% sure if it should be implement ¯\_(ツ)_/¯
The problem that I see is ideally application should be in one of the dirs where

[2021-02-13 16:05] nfultz commented on #319
Thanks for your detailed explanation. It might be cleaner to have two different __main__.pys, one for modules, one for scripts. something like this maybe?

[code]

[2021-02-13 16:41] dbieber commented on #319
Make sure you're running the latest version of fire. In 0.4.0 we do support using `-m fire` with filepaths
[code]

If it's still not working there, let me know

[2021-02-13 16:55] c6401 commented on #319
Yes, it works on 0.4.0! I had v. 0.3.1 apparently. Thanks guys! Should I close the issue?

[2021-02-13 16:59] dbieber commented on #319
Excellent!
Yes, marking as closed

[2021-02-13 16:59] #319 closed

[2021-02-13 18:53] Zaidtech commented on #314
can I work on this issue?

[2021-02-13 20:10] dbieber commented on #314
#318 addresses this (and duplicate #317), but I have not yet reviewed it.
One way you can help out would be to review #318, looking for any potential issues with it.

[2021-02-20 03:35] #269 closed

[2021-02-25 15:36] jkbecker opened #321 "**kwargs flags are completely ignored"
Hi,

I'm in the process of building a client-server application using Fire. My client has the capability of starting the server, and attaching to it. While building out the different options for doing so, I noticed that fire will not process any of my flags correctly! Here is a stripped-down minimally viable demonstrator (saved as `firetest.py`):

[code]

I am running the following test commands:

[2021-02-26 06:10] jamesowers-ch commented on #274
Extending @genos's example above, here's a quick fix for anyone who lands here prior to a fix

[code]

(`functools.wraps` means that you can still run `test -h`)

[2021-02-27 09:08] rajpratyush commented on #240
@dbieber does this issue needs work?? if so can you tell me how to get started with it?

[2021-02-27 12:35] dbieber commented on #240
Hi @rajpratyush

The steps for this issue are to read the grouping commands section of the docs, figure out where it is unclear, and propose a change to clarify it.
One simple resolution would just be to add `return "Pipeline complete."` at the end of the `run` function. in the `Pipeline` class. I think having that there would make it clearer that the pipeline has indeed run successfully even thou

[2021-02-28 05:09] rajpratyush commented on #240
@dbieber yes sir surely I would like to do the issue but do you mind if start working on after 2nd march. I have my exams currently going on

[2021-02-28 22:20] dbieber commented on #240
Not a problem. 👍

[2021-03-02 21:31] washad opened #322 "--help doesn't display correctly when using sub-groups;"
Hey, great job, love the tool !!!!

When creating command groups using classes, --help isn't correctly displaying.

**Consider this example**

[code]

**if I type `python main.py`, I get the correct help file; Note the existence of the two groups (group1, group2).** (though help for verbose isn't correct.)

[code]

**If, instead, I use --help `python main.py --help`**, groups are not shown.

[code

[2021-03-03 13:03] liqi17thu opened #323 "Use Fire with pytorch DDP"
Hi, I want to use Fire with pytorch Distribute Data Parallel. However, when I launch the job, the torch.distributed.launch will insert a 'local_rank' arg, which seems to be taken as the commands of Fire. I am wondering how could I solve this?

![image](https://user-images.githubusercontent.com/48043983/109809847-be39d600-7c63-11eb-8f7c-78ae9d69c251.png)

[2021-03-04 15:10] rajpratyush commented on #240
@dbieber can you just point the file to begin with ?

[2021-03-04 22:27] dbieber commented on #240
python-fire/docs/guide.md

[2021-03-04 23:14] dbieber commented on #321
Hi, the trouble is that the `__init__` function accepts **kwargs, so all your command line arguments are being consumed by `__init__`.

A few ways to resolve this. Any one of the following will fix your issue.

1. Initialize the class yourself. `fire.Fire(MyClient())`
2. Remove **kwargs from `__init__` (or remove `__init__` entirely since you're not using it!)
3. Use a separator (`-`) at the comma

[2021-03-04 23:19] dbieber commented on #323
I've never used pytorch Distribute Data Parallel, so take my answer with a grain of salt.

It sounds like torch.distributed.launch expects a binary that accepts a flag `--local_rank`. If so, you could add `local_rank` as a keyword arg to your train method.  It's hard to say if that's the case just from your screenshot though.

[2021-03-05 02:13] jkbecker commented on #321
Ohh... That actually makes a lot of sense 🤦‍♂️
Thanks for the thorough diagnostic! Will check this tomorrow morning and close the ticket if all goes well. I'm actually using `__init__` in my real code, I just reduced it to a minimally viable example here, so I'll probably do 1. since the separator approach feels a bit clunky as a main way of running my CLI.

[2021-03-05 09:06] llabusch93 commented on #64
Hey guys,

is ZSH auto completion support planned?

Thanks for a followup.

[2021-03-05 11:34] liqi17thu commented on #323
I think the problem is torch.distributed.launch will always insert `--local_rank` at the beginning of main.py, which is taken as the command I want to launch.

[2021-03-05 21:51] dbieber commented on #323
If that's the case you could try:

[code]

[2021-03-06 10:11] liqi17thu commented on #323
This solution is elegant! Thanks a lot!

[2021-03-06 10:11] #323 closed

[2021-03-06 15:29] claui commented on #188
A variant of @fabioz’s excellent workaround for people who prefer one-liners:

[code]

[2021-03-11 21:06] JasonAtallah commented on #322
I ran into this same issue. Setting subcommands/groups as fields on the base class doesn't work too well. Moving the group classes into the base class helps, i.e.
`
class Base:
    class Group1:
        def command1(self):
                pass
`

I found it easier to just have a commands dictionary and do everything functionally. I.e.
`
import fire

def command1(verbose):
    """This command seen

[2021-03-15 08:54] shteren1 opened #325 "Creating a new file or opening file to append with s3fs fails"
Hi, while reading existing files from s3 storage works like a charm (replace 'ab' with 'rb' and 'a' with 'r' in the below example) with s3fs, trying to write files or append to existing files fails.

Tested package builds from conda (latest package available currently):
s3fs                      0.5.2              pyhd8ed1ab_0    conda-forge
h5py                      3.1.0           nompi_py37h1e6

[2021-03-15 10:04] #325 closed

[2021-03-18 04:26] #321 closed

[2021-03-19 21:12] dhimmel opened #327 "Parse arguments based on type hints in the corresponding function signature"
`add_argument` from `argparse` has a `type` [option](https://docs.python.org/3/library/argparse.html#type) that "allows any necessary type-checking and type conversions to be performed". The ability to ensure the CLI args are converted to certain types helps ensure consistent CLI behavior and avoid bugs.

Since fire strives to be as automated as possible, it seems natural that it could inspect the

[2021-03-30 03:25] robertvazan opened #328 "Support __call__ and __getattr__ on module"
Given code like this:

[code]

I would like fire to call `hardcoded` function when `hardcoded` is specified on command line. Otherwise, I would like it to fall back on `__getattr__` or `__call__`. I don't care which one, but I think both can be supported at the same time with `__getattr__` being tried first.

Current workaround is to use helper object with `__call__` method on it, but that hides a

[2021-03-30 13:37] genos opened #329 "Less than helpful help text for Optional[int] argument"
Hi friends! Thanks as always for this _amazing_ library; it's really made building CLIs in Python a breeze.

One thing I've noticed recently: when `Fire`-ing a function with an argument of type `Optional[int]`, the help text for that argument has a bit of extraneous noise and gets cut off in such a way that we never see the `int` portion. Exempli gratia:

### Environment

[code]

### Script
[code]

[2021-03-30 15:54] nfultz commented on #328
Can you share a link to your project? I haven't seen this kind of design before and would be curious what it accomplishes.

[2021-03-30 19:37] robertvazan commented on #328
It's a private script repository. I have a couple of scripts that wrap tools in docker containers. For example, I can run `cargo.py build` that runs `cargo build` in a docker container. The Python script takes care of container setup and then just passes through all arguments, including subcommand name. It also exposes commands not provided by the underlying `cargo` tool, for example `cargo.py san

[2021-04-08 19:12] chailampoon opened #331 "default mode without requiring named arguments"
Surprised if this is not a dup, or documented - but I couldn't find it.

In most of my scripts I have a default behavior, and keyword modifiers, e.g.

[code]

right now I can only get Fire to support keyword behavior, so a) would be
[code]

I tried writing it all in a class, where the default is the \_\_call\_\_ method:

[code]

but in this case I'm only able to call #a it as

[code]

I could of c

[2021-04-08 21:21] chailampoon commented on #331
I figured I could use `*args` in the \_\_call\_\_ method and parse them in the function such that:

[code]

Which seems hacky, and could interfere with some other parsing. Haven't run into issues with this yet.

Happy to hear better suggestions

[2021-04-12 14:41] #240 closed

[2021-04-14 20:36] ramannanda9 opened #332 "Parsing of json dumped booleans"
Currently, fire command does not recognize json dumped booleans i.e. [true/false] and converts them to strings. Is there a workaround for this  atm.

[2021-04-15 17:40] cbrochtrup commented on #188
I learned the `PAGER` environment variable can print Fire help to stdout.
[code]

Unfortunately, it will also change the output of other programs, like `git`, if set globally. If there was a way to set this for Fire only ([similar to this](https://github.com/google/python-fire/issues/188#issuecomment-541428736)) it could solve the issue.

Maybe something like this in Fire? With error checks for va

[2021-04-15 18:03] nfultz commented on #188
If probably would be better to check `$FIRE_PAGER` first, then `$PAGER`, then `$LESS` and configure correctly,  rather than overwriting $PAGER and letting other parts of the code pick it up.

See also

https://github.com/google/python-fire/blob/c3789064e2e161992e3c5a23eb0c47b66072707f/fire/console/console_io.py#L85

[2021-04-15 21:13] cbrochtrup commented on #188
That is a much better idea. I confess, I didn't look at the code much before commenting :sweat_smile:

[2021-04-23 05:30] wchliao opened #333 "Output of the example for grouping in docs is wrong"
Hello.

In the Group Commands section (https://github.com/google/python-fire/blob/master/docs/guide.md#grouping-commands), the example code is

[code]

and according to the guide

[code]

However, the output is wrong. It should be

[code]

This can be easily fixed.
However, in order to demonstrate the pipeline functionality, I would suggest to change the example to

[code]

and accordingly the out

[2021-04-23 12:48] dbieber commented on #333
Thanks for noticing the discrepancy.
How about if we make Pipeline.run return a list [ingestion_output, digestion_output].
Then the stage outputs will be displayed on consecutive lines as in the guide's text.

[2021-04-23 19:07] wchliao commented on #333
Sounds great!
I'll make a change according to your suggestion.

[2021-04-23 19:11] Janeenm commented on #333
 ,

Sent from Yahoo Mail for iPhone

On Friday, April 23, 2021, 3:07 PM, Wei-Chung Liao ***@***.***> wrote:

Sounds great!
I'll make a change according to your suggestion.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-24 04:32] xosnos commented on #309
Hi, this is my first time contributing to open source. Mind if I take on this issue?

[2021-04-24 08:01] MichaelCG8 commented on #309
Thanks @xosnos ! If you'd like me to review anything let me know :)

[2021-04-24 10:54] Janeenm commented on #309
Any help at all with this issue would be very nice. Thank you! 

Sent from Yahoo Mail for iPhone

On Saturday, April 24, 2021, 12:32 AM, Steven Nguyen ***@***.***> wrote:

Hi, this is my first time contributing to open source. Mind if I take on this issue?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-04 18:52] mgdelmonte opened #338 "arg parsing truncates at hash"
Fire's arg parser truncates strings with hashes (#) in them.   Simple test:

test.py:
[code]

[code]

If this is by design, it doesn't appear to be documented anywhere.

[2021-05-05 04:40] loynoir commented on #64
Ran into same issue.
[code]

[Solved](https://github.com/google/python-fire/pull/320)

[2021-05-19 16:30] mkimberling opened #339 "formatting_windows.initialize_or_disable breaks ansi escape codes"
A recent modification added a call to `SetConsoleMode` that enables virtual terminal processing on Windows.  This change prevents parent processes from receiving ANSI escape codes in the stdout of child processes.  The only means to work around this, at the moment, is to comment out the call `initialize_or_disable`.  In my opinion, modifying the console mode is outside of the scope and Fire and sh

[2021-06-03 19:03] ashnair1 commented on #204
Same problem here. Any update on this issue?
![image](https://user-images.githubusercontent.com/32295036/120698259-d8cc5700-c4bf-11eb-92d1-5b0f3378e9f6.png)

[2021-06-07 14:19] dbieber commented on #339
Thanks for the feedback. We (the developers of fire) aren't active Windows users, and we're certainly open to changing this behavior.

[2021-06-07 14:22] dbieber commented on #338
This is an unintended side-effect of our reliance on the python ast when parsing inputs:
https://github.com/google/python-fire/blob/c1266d0dbb2114514fcf8be62044344b5a51c733/fire/parser.py#L77

As a workaround for now, you can add an extra layer of quotes.
`python test.py '"hi#there"'`

I agree we should improve this behavior.

[2021-06-08 09:56] sasha-moiseenko opened #340 "ModuleNotFoundError: No module named 'fire'"
Hi there!
Please, help to find out why I get this issue after module's import and installation. Behind I've added some proofs (stderr from my terminal):
(venv) sasha@sasha-m-laptop:/PycharmProjects/pythonProject$ pip3 install fire
Processing /home/sasha/.cache/pip/wheels/1f/10/06/2a990ee4d73a8479fe2922445e8a876d38cfbfed052284c6a1/fire-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: six i

[2021-06-08 09:58] sasha-moiseenko commented on #340
also some useful outputs:
(venv) sasha@sasha-m-laptop:~/PycharmProjects/pythonProject$ python3 ./venv/final_version.py
Traceback (most recent call last):
  File "./venv/final_version.py", line 4, in <module>
    import fire
ModuleNotFoundError: No module named 'fire'
(venv) sasha@sasha-m-laptop:~/PycharmProjects/pythonProject$ type python
python is hashed (/home/sasha/PycharmProjects/pythonProject

[2021-06-11 16:10] astrojuanlu opened #341 "Declare `wheel` dependency in `pyproject.toml` according to PEP 518"
Trying to install fire on a fresh environment ends produces this error:

[code]

After that, fire gets installed anyway.

This error doesn't appear if the `wheel` package is preinstalled in the environment. However, the proper modern way of specifying a build-time dependency is to include a `pyproject.toml`. Given that fire uses setuptools, as the user guide says here https://setuptools.readthedoc

[2021-06-11 16:11] astrojuanlu opened #342 "Upload wheels for fire"
It would be nice to have wheels on PyPI https://pypi.org/project/fire/#files so users don't have to generate them locally. This is somewhat related to #341, but it's a separate issue.

[2021-06-22 08:02] JulesGM opened #343 "Could be cool and likely easy to add optional typechecking from annotations with Typeguard"
Typeguard https://github.com/agronholm/typeguard makes it very easy to add annotation-based type checking that uses the full gamut of what `typing` offers, with just a decorator, for example.

Using the type checking decorator with Fire is very cool, but I feel like it would be even better if Fire used it internally to display a more user-friendly message to the user when they give an input that d

[2021-06-22 17:00] beasteers commented on #74
(sorry to comment on an old closed issue, I just didn't want to make issue duplicates)

@dbieber I do love that fire uses the `__str__` function of the object, but I still think there's utility in being able to pass a custom formatter as well.

Basically, If I want to format a nested dictionary so that the second level wasn't a single line dict and was, for example indented json or yaml (or someth

[2021-07-07 19:20] beasteers opened #344 "Override Result Formatting for pretty and non-intrusive CLIs 🌈✨"
Fire's main benefit is that it can be dropped in and turn anything into a CLI! But sometimes there are certain types that either don't play nice with fire's formatters and some that just don't print out in a pretty way.

**What I'm proposing:** Allow users to provide a function that can override result formatting. Simply, it takes the output of the fire call and passes it through the user formatte

[2021-07-21 15:27] beasteers commented on #340
hi not sure if you figured it out already, but you're installing using the wrong pip.

Your python path is: `/home/sasha/PycharmProjects/pythonProject/venv/bin/python`
So your pip path should be: `/home/sasha/PycharmProjects/pythonProject/venv/bin/pip`

You're using the built-in pip `/usr/bin/pip3` so if you did `/usr/bin/python` and then ran `import fire` it should work.

With your `venv` enabled

[2021-07-21 16:13] sasha-moiseenko commented on #340
Hi) I’ve already got it, my fault) thanks for reply

[2021-07-21 16:13] #340 closed

[2021-07-22 16:41] ntjess opened #346 "Is it possible to return `argparser` for customization?"
`fire` can complete ~90% of the CLI needs for my application. However, the help documentation is only available during runtime in my case. Is there some way of getting access to the `argparse` parser from Fire and modifying it as a user? It looks like the overload-able information is available up to this point:

https://github.com/google/python-fire/blob/ed44d8b801fc24e40729abef11b2dcbf6588d361/fi

[2021-08-08 06:01] ShivKJ opened #347 "is autocomplete working??"
Hi,

I am learning `Fire` and am interested in how `completion` works.

I created a script `main.py`

[code]

ran the following command,

[code]

Now when I run `python main.py` and press \<TAB\> it does not seem provide cli parameter.
Let me know if I am not using it correctly.

[2021-08-11 23:24] ilw4r opened #348 "Setup"
https://github.com/google/python-fire/blob/ed44d8b801fc24e40729abef11b2dcbf6588d361/setup.py#L46

[2021-08-11 23:25] #348 closed

[2021-08-18 20:12] tory1103 opened #349 "Passing function as an argument"
Hello, can i pass some functions to fire?, like lambda or other predefined?

For example:

[code]
[code]

This cli passes a lambda function as an argument, is this possible using fire?

[2021-08-20 16:16] Sn3akyP3t3 opened #351 "Help Casts All Input Flags To UPPERCASE In Print"
When requesting help output all available flags are being cast to upper case.  This makes it difficult if not impossible for users of the wrapper methods the exact case needed to call requiring opening the code to view or asking a developer for assistance which diminishes  the intent of help as a self-help solution.  Fire is also case sensitive when using the flags so its best that help output pre

[2021-08-25 23:46] bovlb opened #352 "Output help as markdown"
Thanks for a useful tool.  Would it be possible to generate the help output as markdown text, suitable for saving to github repos?

[2021-08-26 19:33] bovlb opened #353 "Logging messages don't using logging"
https://github.com/google/python-fire/blob/c1266d0dbb2114514fcf8be62044344b5a51c733/fire/core.py#L239
https://github.com/google/python-fire/blob/c1266d0dbb2114514fcf8be62044344b5a51c733/fire/core.py#L287

When I get the help message, includes INFO: messages like:
    INFO: Showing help with the command {cmd}

I would like such logging messages to use Python's logging framework which would allow me

[2021-08-31 11:21] ilw4r opened #354 "OLIMEX/KiCAD Rk3326"

[2021-09-04 23:41] mwort commented on #274
I am still seeing this rather odd behaviour, also when returning `dict`s of `pd.DataFrame`s, i.e. the help is shown, no error though after quitting the help. Returning tuples/lists of DataFrames works. A fix for this would be much appreciated!

[2021-09-06 23:51] paolodina commented on #347
I resolved creating a Python package. Then install, generate the completion script and worked.

[2021-09-19 17:18] melsabagh-kw commented on #343
FWIW, I tend to use the following custom decorator to get this behavior:

[code]

Example:

[code]

[2021-09-22 01:09] dbieber commented on #343
That's great -- thanks for sharing that @melsabagh-kw!

[2021-09-22 09:33] prithvijitguha commented on #352
Hey everyone! Is anyone working on this. I'd like to help out. I'm new to open source.

Thank you in advance!

[2021-09-23 21:26] aksg87 commented on #250
Any updates on this issue? cc: @joejoevictor

[2021-09-26 19:10] melsabagh-kw commented on #258
The way Fire handles `--` is indeed odd. GNU uses a bare double-dash to indicate the end of options and the beginning of positionals. POSIX also mentions this in their [Utility Conventions](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02):

A hacky workaround I have used in the past was to force `--help` to always be treated as a Fire flag, discarding any argumen

[2021-09-26 21:49] melsabagh-kw commented on #353
Until this is fixed, you could use the following dirty hack to suppress these:

[code]

[2021-10-20 17:59] zyxue opened #356 "What condition does fire use to decide if input is a tuple or a string"
I'm playing with:

[code]

and see

[code]
returns a tuple
[code]
But
[code]
returns a string, which is kind of confusing.

Version:
[code]

[2021-10-28 20:47] Mastermjr opened #357 "Documentation should cover adding descriptions for positional arguments and flags"
This is from my coworker, so I can't take credit, but I want to document this for others who experience a similar frustration or issue.

## Expectation:
I can add descriptions to parameters that I add under the "arguments" keyword in the docstring.
[code]
then I should run `python3 script.py --help`
and see:
[code]

## actual result:
however I actually get:
[code]

# Solution:
Make sure you start

[2021-11-15 14:55] AlexeyShaferov commented on #356
I have exactly the same problem. How to make it always preserve a string? I do not need a tuple, regardless of the presence of a comma.

[2021-11-15 19:23] melezhik opened #358 "What is the best way to have a "factory method" style?"
Right now I ended up with a following approach ( not sure if it the best):

[code]

Ideally I would want that `Fire` method allow me to pass classnames as variable which I define through a command line, something like that:

[code]

[code]

Not sure if it's possible 🤔  ...

[2021-11-16 20:34] elfring opened #359 "Use another augmented assignment statement"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-12-01 16:25] PierreGtch commented on #358
Hi, I think that what you are looking for is just:
[code]
then, you can call:
[code]
or:
[code]

[2021-12-01 16:27] melezhik commented on #358
interesting ... maybe wil give it a try ...

[2021-12-06 03:31] alexdelorenzo commented on #26
Does Fire support showing module-level docstrings in help text now, @dbieber?

Like if you have:
[code]

When you run `python3 example.py --help`, will the docstring text "Description" be shown in the help text?

[2021-12-11 11:44] gab50000 opened #365 "Chaining function (not method) calls?"
Given a script with the following two functions:

[code]

I would like to pass the output of calling add as input to double:

[code]

Would it be possible to define some kind of pipe operation which allows to chain multiple functions together?

[2021-12-30 14:38] kai250555 opened #366 "Pytho"

[2021-12-30 14:41] kai250555 opened #367 "Pythons fire"

[2021-12-30 14:57] Jbsagnirb opened #368 "​#​ RUN su node -c "source /usr/local/share/nvm/nvm.sh && nvm install ${EXTRA_NODE_VERSION}" ​#​ [Optional] Uncomment if you want to install more global node modules ​#​ RUN su node -c "npm install -g <your-package-list-here>""

[2021-12-31 16:26] #368 closed

[2021-12-31 17:06] joeld1 opened #370 "Is there something that does the opposite with command line python applications?"
Hello, this project is pretty nifty!

I was just reaching out because I was wondering if anyone here knows of any Python libraries that do the opposite of python-fire (python CLI-only-app -> python class/object)?

Thank you!

[2022-01-01 03:28] a09174079722A commented on #358
Ok

[2022-01-01 03:28] a09174079722A commented on #358
Ok

[2022-01-01 03:28] a09174079722A opened #371 "Ok"

[2022-01-01 03:29] a09174079722A commented on #371
Ok

[2022-01-01 04:25] garryspins commented on #370
what would be the use case of this?

[2022-01-04 20:33] Jbsagnirb opened #373 "My Account"

[2022-01-04 20:36] #373 closed

[2022-01-05 21:20] pbarker opened #374 "Classes as parameters"
Classes as parameters should be expanded and added to the argument set.

[code]

Currently the help will display as:
[code]
Ideally the class would be expanded:
[code]

[2022-01-07 10:41] ma-sadeghi opened #375 "Changing the value of a variable in a script"
Many thanks for creating this great package!

I have a simple script (no functions) like the one below:

[code]

I want to be able to change the value of `x` from CLI without having to wrap the code in a function. I have figured that the following (workaround) works:

[code]

Is this considered the preferred solution or is there a better way? Thanks!

[2022-01-13 23:03] CrepeGoat opened #379 "mis-assigned keyword arguments when two function parameters have the same name"
### Environment
`fire==0.4.0`

### Example Script
I have the following example `script.py`:

[code]

### Example Usages (which demonstrate a problem)

When I use the script and provide the arguments by *position*, it works fine:

[code]

But when I provide the arguments by *keyword*, it mis-assigns the parameter values and brings up the help screen:

[code]

More examples:

[code]

[code]

### Tho

[2022-01-15 23:55] damienjburks commented on #329
I'd like to do this one.

[2022-01-23 05:34] rishav-karanjit commented on #379
Hello,

Can I be assigned to this issue? I really want to work on this issue and contribute to python fire.

Thank you
Rishav

[2022-01-25 22:05] #291 closed

[2022-01-26 10:49] ophir-oneview opened #381 "How to display class functions in help?"
Hey,
I am using a class like:
[code]
I like to be able to see in the help the functions/properties in Foo class not only the args in the constructor.
Does it possible?

Thanks

[2022-01-29 02:54] dbieber commented on #379
Thanks for reporting this.

As a workaround for `python script.py bar --param=3 baz --param=5 end` you should be able to run `python script.py bar --param=3 - baz --param=5 end`. The separator will prevent the second --param from being applied to the bar function.

Yes, @rishav-karanjit, you can work on this. Thanks for offering to contribute.

[2022-01-29 02:55] dbieber commented on #365
This is a neat idea, but not on the roadmap.
Any ideas about how you might implement it?

[2022-01-29 02:55] #371 closed

[2022-01-29 02:55] #354 closed

[2022-01-29 02:57] dbieber commented on #370
I'm not aware of such a project.
It's a cool idea -- any ideas how a project like that might work?

[2022-02-01 13:47] chey commented on #381
Your example seems to work fine when I tested it. Since you have a required argument `name`, you have to specify it.

[code]

Output
[code]

[2022-02-01 14:51] chey opened #382 "BUG: When using a Class for grouping commands `--self` shows as a flag"
### Example code (example.py):
[code]

### Run:
`python3 example.py -- --completion`

### Completion Output (take not of `--self` in output):
[code]

[2022-02-08 22:25] Borda opened #384 "Allow choices restriction"
Hello, and thank you for this great CLI!
Recently I get to a situation when I would like to restrict the options for a given argument similar to build-in `argparse` does with its option `choices` (see docs: https://docs.python.org/3/library/argparse.html#choices). Then I was checking Fire docs but could not find anything similar to it...
Checking alternative CLI packages I found a way that is quit

[2022-02-09 09:16] chris-clem commented on #384
That would be great! I use `choices `quite a lot.

[2022-02-17 12:19] luxuncang commented on #260
可以看看 [typefire](https://github.com/luxuncang/typefire)

[2022-02-21 19:01] narothsolo commented on #384
Please help Star

[2022-02-22 23:37] dbieber commented on #384
Great idea. We don't currently use type annotations in fire to impose restrictions (but we could in a future version, though no one is actively working toward it atm).

Side note: One alternative that works today is to use a decorator, roughly like this:

[code]

See also SetParseFns in https://github.com/google/python-fire/blob/master/fire/decorators.py

[2022-02-25 23:13] gab50000 commented on #365
I have not yet looked very deep into the source code of fire, but I guess I would simply try and store the result of the first function call and pass it on to the function which comes after the 'pipe' operator.
If this feature request is not considered too off-topic, I could try and see if I can work something out.

[2022-03-02 10:09] Nic-Ma commented on #356
Hi @[dbieber](https://github.com/dbieber),

Thanks for the great project, very cool a CLI tool!
We are investigating to integrate it into the MONAI bundle: https://github.com/Project-MONAI/MONAI/issues/3482.
But we face the similar issue as we may have complicated args like: **id="AA#BB#<CC>"**
I think maybe that because `fire` uses `ast` to parse args and can't support complicated strings?
Is the

[2022-03-05 03:19] RazazR opened #385 "@google-admin"
@google-admin

_Originally posted by @arnav-kr in https://github.com/google/google-api-javascript-client/issues/790#issuecomment-1013821876_

[2022-03-09 00:20] mastercho opened #386 "expected string or bytes-like object"
When i run install command

`pip3 install fire==0.4.0`

Getting error like

[code]

Any suggestions why version 4 throws that?

`pip3 install fire` installs 0.3.1 for me

[2022-03-11 21:10] alecgarza96 commented on #386
What environment are you on? I wasn't able to recreate on windows

[2022-03-11 21:18] alecgarza96 commented on #386
Did some research and found users facing similar issues here

https://stackoverflow.com/questions/71009659/note-this-error-originates-from-a-subprocess-and-is-likely-not-a-problem-with

https://github.com/claws/buildbot-prometheus/issues/13

https://github.com/mkleehammer/pyodbc/issues/981

It appears this could be related to python versions and windows environments

[2022-03-30 16:39] szeitlin commented on #274
We're also running into this problem. It would be great if this could get fixed (maybe we can do it if no one else has time).

[2022-03-31 00:02] szeitlin commented on #274
@jamesowers-ch thanks for the hint! I ended up having to modify your example slightly in order to get it to work with automated tests:

[code]

then I can just `@df_to_string` all of my methods without having to modify anything about the `fire.Fire()` call in `__main__` or `unittest.main()`

[2022-04-07 14:50] dzieciou commented on #315
What's the progress on that? 1 year passed and still a problem

[2022-04-07 15:06] #385 closed

[2022-04-07 17:21] j6k4m8 commented on #140
Love this idea — it doesn't seem like there's an easy way to do this!

[2022-04-16 20:20] #315 closed

[2022-04-16 20:44] dbieber commented on #386
I'm going to close this since it doesn't appear to be a fire related issue.
Please do share the resolution if you find it though.

[2022-04-16 20:44] #386 closed

[2022-04-16 20:49] dbieber commented on #375
I recommend writing a function

[code]

Then when you run your code it will run with x == 1 by default, and you can also set the value of x using e.g. --x=5 at the command line.

[2022-04-16 20:49] #375 closed

[2022-04-16 20:51] dbieber commented on #374
Thanks for the suggestion. We don't have plans to add this at this time, but I do see the value and think something like this could be a good addition. See also #384 for a similar related suggestion.

[2022-04-16 20:51] #374 closed

[2022-04-16 20:53] dbieber commented on #357
Thanks for writing this up.

Fire's documentation extraction is best effort and aims to support the most common docstring formats, but it's imperfect and doesn't work with every format someone might use.

I'm going to close this issue for now, but feel free to open additional issues/PRs either with improvements to the docstring parser or with changes to the fire documentation.

[2022-04-16 20:53] #357 closed

[2022-04-16 20:55] dbieber commented on #365
I think this is out of scope for Fire but if you come up with a working proof-of-concept then I would revisit this idea.

[2022-04-16 20:55] #365 closed

[2022-04-16 20:59] dbieber commented on #356
One thing that makes this confusing is that your shell (e.g. bash) strips quotes from the commands you run.
So if you run `example.py --arg="value1,value2"`, Fire doesn't see the quotes, it just sees `value1,value2`.

@Nic-Ma  is correct; we use ast to parse args.
1. If it sees things in quotes it will treat them as a string (but remember the quotes might have been stripped away by your shell)
2.

[2022-04-16 20:59] #356 closed

[2022-04-16 21:01] dbieber commented on #353
We'd like to fix this such that for the typical user (who doesn't configure any logging settings), the behavior is the same as it currently is, with the INFO logs being displayed appropriately.

@dravog7 Yes, this issue is not currently being worked on and you are welcome to work on it if you are still interested in doing so.

[2022-04-16 21:04] dbieber commented on #352
Neat idea. I don't know if it would make sense to include this in fire. I see the value, but I think it's outside the scope of what we want fire to do. I'd certainly be interested to see it in action if one of you does build this feature though!

[2022-04-16 21:04] #352 closed

[2022-04-16 21:06] dbieber commented on #351
Could you provide an example? If fire is providing help which is inaccurate and giving the user commands to run that don't work because of case mismatches, that would be an important bug to fix.

[2022-04-16 21:09] dbieber commented on #347
@ShivKJ When you run with `--completion` to generate the completion script, Fire uses the `name=` parameter to register completions for commands starting with that name. Your commands start with `python main.py` but the completions are probably registered just to `main.py`. It would be better if what you're doing _just worked_, but it doesn't. Alias `python main.py` to a name or make `main.py` exe

[2022-04-16 21:09] #347 closed

[2022-04-16 21:10] dbieber commented on #349
No, that is not possible using fire.

Have a look at [pypyp](https://github.com/hauntsaninja/pyp) -- you might be interested in that project too!

[2022-04-16 21:10] #349 closed

[2022-04-16 21:11] dbieber commented on #346
This isn't currently possible (nor is it on the roadmap).

Can you say a bit more about your use-case?

[2022-04-16 21:21] #344 closed

[2022-04-16 21:23] dbieber commented on #344
Thanks for doing this!

The only difference from your description above is that we use the keyword argument `serialize=` instead of `formatter=`.

[2022-04-17 20:14] ntjess commented on #346
Sure, I wanted a custom `HelpAction` for my application:

<details>

[code]

</details>

All option limits come from files. So i.e. the user created "Color Scheme", "dark", "dark2", and "Default" files for `--colorscheme` options.

when `python -m s3a --help` is called, I want to populate the available option limits, which is trivial if I have access to the parser object:

[code]

Otherwise, it is

[2022-04-22 15:12] chey commented on #47
I built a decorator based on the above code snippet.
[code]

Use it like this (with example from above):

[code]

Would be a nice to have if a filter like this was incorporated in Fire.

[2022-04-22 15:52] chey commented on #47
There is one caveat to the above filter I posted. It has no affect on code completion. In other words, code completion output still has the filtered attributes.

If anyone has any suggestions regarding that, I'd be interested.

[2022-04-28 02:50] district10 commented on #292
But how to make fire document show `--stairs-per-story` instead of `--stairs_per_story`?

[2022-04-29 02:05] ordas21 commented on #353
I will work on this

[2022-04-29 03:34] ordas21 commented on #379
Working on this

[2022-05-15 15:42] arita37 opened #392 "Feature : Fire another module"
It would be useful to have

import mymodule

fire.Fire(mymodule)     ---> expose  all this mymodule

[2022-05-18 05:49] arita37 opened #393 "Feature : exclude_name_list"
Sometimes, we have a very long file of utilities,
we want to expose all functions except some names.

It would be useful to have this
to filter out some exposure.

`fire.Fire(exclude_name_list = [  'os',  'myfun1*',   'myfun2*'])`

[2022-05-20 20:02] WillieCubed commented on #76
Is this being worked on?

[2022-05-21 13:03] chey commented on #392
This feature already exists.

[2022-05-21 13:04] chey commented on #393
Take a look at #47 and see if that helps you out.

[2022-05-21 13:10] arita37 commented on #393
1) suppose we have 40 functions,
and want to expose all, but exclude only 10….

Having an exclusion list can be helpful.

Renaming to _ is not perfect since those functions can be reused in python code…

[2022-05-25 15:41] chey commented on #393
Depending on how you use `import` ...  `__all__` could be useful in your situation.

[2022-05-26 11:18] imdadahad commented on #179
Having the same issue. Not ideal to see 'ugly' `dict` payloads to be printed on the screen.

Is there any workaround?

[2022-05-26 17:52] ckrapu commented on #179
Same here - I started a decorator to check to see if the function is being called from Fire or somewhere else; any ideas on how to check that in a stable way?

[2022-05-26 17:55] dbieber commented on #179
https://github.com/google/python-fire/pull/345 will be available in the next release and may provide what you're looking for

[2022-05-28 17:46] DavidETomlin opened #394 "Learned this in 5 minutes from Primer"
I just took this 5-minute lesson in Primer. Check it out on your phone: https://www.yourprimer.com/app/en/lesson/mobileappdownloads/

[2022-06-23 22:49] sidshrivastav commented on #338
@dbieber hey can we `json.dumps` the value in `_LiteralEval`,

[2022-06-23 23:17] dbieber commented on #338
I don't think that will work, unfortunately. If the input is "1", json.dumps will produce '"1"' which will get parsed as a string, whereas an int is desired.

[2022-06-24 01:52] liudonghua123 commented on #188
This method is nice except the colors is missing.

[2022-06-24 07:51] sidshrivastav commented on #338
Ok, let me check how we can use AST with preserving comments.

[2022-06-25 10:55] Gmwaur opened #397 "Fire"

[2022-06-27 19:48] NeveIsa opened #398 "Passing multiple arguments"
How can add argument multiple times?

For example, in the multiply example, how to pass arbitrary number of integers with flags like this -
--------------------------
python calculate.py multiply -x 1 -x 2 -x 3
6
---------------------------

[2022-06-29 19:50] JulesGM commented on #123
@waseem18 did you end up doing it?

[2022-07-27 11:26] ashnair1 commented on #204
Any update on this issue?

[2022-07-29 19:18] hponde commented on #168
Just checking if there is any interest in addressing this. I understand the chaining concern, but I feel like the ability to just pass in a `strict` argument to `fire.Fire` would be backwards compatible and address the issues in this thread, right?

Honestly most of my usage of fire is as follows and I can see it is the case for most other folks in the internet too.

[code]
to make CLIs easy to wo

[2022-08-04 17:36] tonio-m commented on #226
This feature would be nice, but if you're trying to call a function from command line using Fire, you can always validate the inputs of the function by putting a decorator called `@beartype` on it.

It is provided by this lib:
 https://github.com/beartype/beartype

[code]

[2022-08-19 07:04] link89 opened #401 "feature request: a way to support nested dict input"
## Background
Hi, I just come into a case that need to allow user to override some default value of a json configuration. The configuration is a nested dict and so is the input. I didn't find fire has good support for such case so here is a proposal.

## Feature
Take this as an example

[code]
I think fire may support such input to build the actual value of `config`

[code]
And both will end up wi

[2022-08-29 02:22] xbanke opened #402 "not compatible with pydantic.validate_arguments"
A function with `Field` parameter wrapped by `pydantic.validate_arguments`, can not been exeuted from the command line.

[code]

run this code from command line with raise:

[code]

[2022-09-10 02:03] jjorissen52 commented on #381
@chey This is the output of
`python example.py --help`:
[code]

To rephrase the question, how can you make the built-in help command show functions/properties in Foo class not just the options for `__init__`?

[2022-09-10 02:24] jjorissen52 commented on #322
`--help`, in general, seems to be broken. Related issue with a very simple example: https://github.com/google/python-fire/issues/381

Surprisingly. this seems to improve the output of --help substantially:

[code]

[2022-09-13 16:32] dbieber commented on #402
Thanks for raising this. I'm marking it as a bug.

It looks like the call to foo is failing at
https://github.com/google/python-fire/blob/37c4305194ff3d0a63f435f08a40e14b1978bd4e/fire/core.py#L475-L480

This is surprising, because calling foo without arguments normally (i.e. without _CallAndUpdateTrace) passes pydantic's validation, but making the call with _CallAndUpdateTrace fails validation.

L

[2022-09-13 16:33] dbieber commented on #397
This is an empty issue. Closing.

[2022-09-13 16:33] #397 closed

[2022-09-13 17:38] dbieber commented on #392
As chey noted, this already exists. If there's something about this that could be improved, feel free to reopen the issue or open a new issue with more details about what you're looking for. For now, closing the issue.

[2022-09-13 17:38] #392 closed

[2022-09-13 17:39] #370 closed

[2022-09-13 17:40] dbieber commented on #393
Thanks for the feature request. I see the value of this and it is something we might consider in the future.
It's not currently planned though.

[2022-09-13 17:42] dbieber commented on #401
Thanks for this suggestion. This is a feature we might consider for the future, but it isn't currently planned.
In the mean time, you may be interested in the ml_collections library. See in particular config_flags: https://ml-collections.readthedocs.io/en/latest/config_flags.html

[2022-09-13 17:44] dbieber commented on #402
See also #343 -- in that issue @melsabagh-kw shows a decorator he wrote to get typeguard typechecking with fire.

[2022-09-14 02:35] link89 commented on #118
The decorator trick seem not work in this case. I think we still need to have fire to inject some context into the function being executed to enable such feature.

[2022-09-14 03:30] link89 opened #403 "feature request: tell fire to stop parsing argument and pass the remaining unparsed args to function"
**Feature Description**

I am working on a tool to wrap some existed command line tools to make them easier to use (like auto install, inject argument automatically, etc). And I hope that I can have a way to tell click to stop parsing after encount some specific command.

**Example**
Here are some real world examples like `poetry run python3 ./my-scripts.py` or `conda run -n my-env python3 ./my-sc

[2022-09-17 06:54] Mindtools12 opened #404 "Python Fire"
Library automatically generates command line interfaces

[2022-09-18 00:52] codehangen opened #405 "Could or would python-fire be supported or ported by snakeware-os?"
Hi all.

I would like to know if the open source python-fire project can be supported or ported by the snakeware linux distro. So... can python-fire be supported or ported by snakeware?

<br/>

*This question is not a feature request, but a question.*

[2022-09-19 23:16] indigoviolet commented on #300
@dbieber, do you think this behavior (casting command line argument values based on the function signature) is a good idea? If so, I'd like to work with you to define the feature and push through one of #350 or #320.

[2022-09-21 14:38] dbieber commented on #405
I'm not familiar with snakeware. It sounds like this may be a question for snakeware rather than a question for fire. What would be involved on fire's end to support this?

[2022-09-22 15:25] dbieber commented on #405
I looked up snakeware. As I understand it, it's an operating system where you are booted directly into a Python interpreter. So if you want to call a Python function, you can import it and call it directly - no need for Fire for this use case.
I don't know what snakeware does for CLI tools. Do they have a mechanism for saying a module should always be imported? If so, that would probably be the th

[2022-09-22 15:25] #405 closed

[2022-09-22 15:26] dbieber commented on #404
That's correct!
Closing since there's no action to take here.

[2022-09-24 12:38] GitBib opened #407 "AttributeError: 'str' object has no attribute 'name' when installing python 3.7"
When tests are run using python-fire, an error occurs.
Example error: https://app.travis-ci.com/github/GitBib/pyasstosrt/jobs/583684057

[2022-09-26 20:20] robotrapta commented on #168
For anybody else hitting this and frustrated that `fire` is so slow to respond to basic functionality that makes it extremely error-prone, I might suggest switching to `typer`: https://github.com/tiangolo/typer

For the common use-case it's a drop in replacement:

[code]

Plus it uses type-hints to you don't have to cast everything from a string.

[2022-09-29 10:11] geekscrapy commented on #98
Came here to ask about `stdin`.

My use case is: `echo 'some data' | my_fire_script.py command -`

Where `command` function is something like `def command(*text):`

but it could also be called like this:

`$ my_fire_script.py command 'some text'`

[2022-09-30 23:21] Ashton-Sidhu opened #409 "New Release v0.5.0"
Hi,

Thanks for creating and maintaining Python-Fire, I'm just wondering if there's any plans to publish another release to Pypi or should we installing from main? The new `serialize` parameter would be really helpful for our use cases !

[2022-10-12 16:39] SedMek commented on #64
Thank you @loynoir for attempting to fix the issue, but it seems to me that your [PR](https://github.com/google/python-fire/pull/320) was closed, thus the problem of completion remains the same.

[2022-10-12 16:44] loynoir commented on #64
@SedMek
- Ah, I signed CLA, but later merged [iln-sk](https://github.com/iln-sk) changes for some extra types, who seems not signed CLA, and PR got blocked by CLA bot.
- Plus I not using fire now, so I closed that blocked PR.

[2022-10-20 22:33] melsabagh-kw opened #410 "Defaults for kwonly arguments don't show in help"
Fire (v0.4.0, master) does not seem to show default values for keyword-only arguments. Consider the following example:

[code]

Save it as `foo.py` and run `python3 foo.py --help`.

### Expected Output:

[code]

### Actual Output:

[code]

Looks like a one line change could fix this: change the `return` statement here https://github.com/google/python-fire/blob/37c4305194ff3d0a63f435f08a40e14b1978b

[2022-10-23 15:01] iorin0217 opened #411 "Unexpected parsing behaviour for List of strings containing a string with a numeric initial"
This is just a report. I hope it will be useful for development. I'm using fire v0.4.0.

[code]
Will give you:
[code]

[2022-10-23 15:15] amrutha1098 commented on #410
Hi I would like to work on this issue.

Thanks!

[2022-10-23 15:56] melsabagh-kw commented on #403
I think part of the problem here is that `-a` requires disambiguation so that Fire can tell whether it's supposed to be treated as a positional argument or an option. In [POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02), this is typically done by passing `--` to indicate the end of options. However, Fire has its own custom flags that use the same syntax (e

[2022-10-23 16:26] link89 commented on #403
Hi @melsabagh-kw Thank you for the sample code. I think it's a good idea to use `--` to indicate the end of options, but that's not what I intended.  I don't need to have `fire` to parse partial arguments and pass the remaining to the target function like the one in your sample code, but just stop parsing anything and pass all of the remining args to the target function.

[code]

I have already ma

[2022-10-31 03:58] joon612 opened #412 "Is there any way to add command description in `-- --help`"
I want to show some description of cmd when user typed in `cmd -- --help`.

[2022-11-17 14:23] mwort commented on #409
I second that. @dbieber thanks for all your efforts in building Fire 🔥 Lots of good PRs and issues dont get merged and the last release is from Jan 2021, suggesting that you probably dont have much time for this anymore. I wondered if there is scope to:
- a) either invite more core maintainers to allow them to take care of PRs and releasing (I'm guessing that will be restricted by google's policy)

[2022-11-17 14:25] mwort commented on #412
The description is taken from the doc strings of the `cmd` object (i.e. module, class, function).

[2022-11-19 14:44] fredcallaway commented on #274
Running into this myself. The problem with the solution above is that it now prevents the function from being used programmatically (e.g. you actually want to operate on the dataframe).

I think the best solution here is to have a list of types that are automatically rendered as strings when they are the output of a function. It seems that dict and list already have that behavior; so I think somet

[2022-11-19 14:57] fredcallaway commented on #274
For now, here is a generalization of @jamesowers-ch's solution to classes

[code]

[2022-11-24 09:28] woidzero opened #413 "How can i write custom text in --help / -h?"
Is there a way to write custom text in --help / -h option like this?
[code]
or
[code]

[2022-11-24 16:39] gaardhus commented on #412
I cannot seem to get module docstrings represented in --help

[2022-11-24 16:40] gaardhus commented on #413
See #412

[2022-11-28 21:46] #410 closed

[2022-11-29 05:01] kmiller96 commented on #332
Had this exact same issue. Not a perfect solution by any means, but what I do is convert those stringified values after the fact using a recursive function.

[code]

Leaving this here in case someone else has the same issue.